#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{
    position:fixed;
    width:100%;
    height:289%;
    overflow:hidden;
}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
    #cboxTopLeft{
        /*width:25px; height:25px; background:url(../images/border1.gif) no-repeat 0 0;*/
        width:20px; height:20px; background:url(../images/border1.gif) no-repeat 0 0;
    }
    #cboxTopCenter{
        /*height:25px; background:url(../images/border1.gif) repeat-x 0 -50px;*/
        height:20px; background:url(../images/border1.gif) repeat-x 0 -50px;
    }
    #cboxTopRight{
        /*width:25px; height:25px; background:url(../images/border1.gif) no-repeat -25px 0;*/
        width:20px; height:20px; background:url(../images/border1.gif) no-repeat -30px 0;
    }
    #cboxBottomLeft{
        /*width:25px; height:25px; background:url(../images/border1.gif) no-repeat 0 -25px;*/
        width:20px; height:20px; background:url(../images/border1.gif) no-repeat 0 -25px;
    }
    #cboxBottomCenter{
        /*height:25px; background:url(../images/border1.gif) repeat-x 0 -75px;*/
        height:20px; background:url(../images/border1.gif) repeat-x 0 -75px;
    }
    #cboxBottomRight{
        /*width:25px; height:25px; background:url(../images/border1.gif) no-repeat -25px -25px;*/
        width:20px; height:20px; background:url(../images/border1.gif) no-repeat -30px -25px;
    }
    #cboxMiddleLeft{
        /*width:25px; background:url(../images/border2.gif) repeat-y 0 0;*/
        width:20px; background:url(../images/border2.gif) repeat-y 0 0;
    }
    #cboxMiddleRight{
        /*width:25px; background:url(../images/border2.gif) repeat-y -25px 0;*/
        width:20px; background:url(../images/border2.gif) repeat-y -30px 0;
    }
    #cboxContent{background:#e2e2e2; overflow:hidden;}
        .cboxIframe{background:#e2e2e2; display:none;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxLoadingOverlay{background:#e2e2e2 url(../images/loading.gif) no-repeat center;}
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxClose 
        {
            /*position:absolute; top:0; right:0; display:block; background: url('../images/btnClose.gif') no-repeat; width:20px; height:16px;*/
            position:absolute; top:8px; right:7px; display:block; background: url('../images/btnClose.gif') no-repeat; width:20px; height:16px;
       /*_background:none;
       _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/btnClose.gif',sizingMethod='crop');*/
        }
        .btnClose_orange {
            background: url('../retonavidad/images/btnClose_orange.png') no-repeat !important;
        }
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}