@font-face {
font-family: Flexo-Regular;
    src: url('../fonts/Flexo-Regular.eot');
    src: url('../fonts/Flexo-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flexo-Regular.woff') format('woff'),
         url('../fonts/Flexo-Regular.ttf') format('truetype'),
         url('../fonts/Flexo-Regular.svg#Flexo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: Flexo-Bold;
    src: url('../fonts/Flexo-Bold.eot');
    src: url('../fonts/Flexo-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flexo-Bold.woff') format('woff'),
         url('../fonts/Flexo-Bold.ttf') format('truetype'),
         url('../fonts/Flexo-Bold.svg#Flexo-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: Flexo-Light;
    src: url('../fonts/Flexo-Light.eot');
    src: url('../fonts/Flexo-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flexo-Light.woff') format('woff'),
         url('../fonts/Flexo-Light.ttf') format('truetype'),
         url('../fonts/Flexo-Light.svg#Flexo-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: Flexo-Light-Italic;
    src: url('../fonts/Flexo-Light-Italic.eot');
    src: url('../fonts/Flexo-Light-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flexo-Light-Italic.woff') format('woff'),
         url('../fonts/Flexo-Light-Italic.ttf') format('truetype'),
         url('../fonts/Flexo-Light-Italic.svg#Flexo-Light-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: Flexo-Italic;
    src: url('../fonts/Flexo-Italic.eot');
    src: url('../fonts/Flexo-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Flexo-Italic.woff') format('woff'),
         url('../fonts/Flexo-Italic.ttf') format('truetype'),
         url('../fonts/Flexo-Italic.svg#Flexo-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flexobold_italic';
    src: url('../fonts/Durotype-Flexo-BoldIt_0.eot');
    src: local('?'), url('../fonts/Durotype-Flexo-BoldIt_0.woff') format('woff'), url('../fonts/Durotype-Flexo-BoldIt_0.ttf') format('truetype'), url('../fonts/Durotype-Flexo-BoldIt_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FlexoMedium';
    src: url('../fonts/durotype-flexo-medium.eot');
    src: url('../fonts/durotype-flexo-medium.eot') format('embedded-opentype'),
         url('../fonts/durotype-flexo-medium.woff2') format('woff2'),
         url('../fonts/durotype-flexo-medium.woff') format('woff'),
         url('../fonts/durotype-flexo-medium.ttf') format('truetype'),
         url('../fonts/durotype-flexo-medium.svg#FlexoMedium') format('svg');
}
@font-face {
    font-family: 'FlexoMediumItalic';
    src: url('../fonts/durotype-flexo-mediumit.eot');
    src: url('../fonts/durotype-flexo-mediumit.eot') format('embedded-opentype'),
         url('../fonts/durotype-flexo-mediumit.woff2') format('woff2'),
         url('../fonts/durotype-flexo-mediumit.woff') format('woff'),
         url('../fonts/durotype-flexo-mediumit.ttf') format('truetype'),
         url('../fonts/durotype-flexo-mediumit.svg#FlexoMediumItalic') format('svg');
}


/*
@font-face {
font-family: Formata-Regular;
    src: url('../fonts/Formata-Regular.eot');
    src: url('../fonts/Formata-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Formata-Regular.woff') format('woff'),
         url('../fonts/Formata-Regular.ttf') format('truetype'),
         url('../fonts/Formata-Regular.svg#Formata-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*
@font-face {
font-family: Formata-MediumItalic;
    src: url('../fonts/formata-mediumitalic-webfont.eot');
    src: url('../fonts/formata-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formata-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/formata-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/formata-mediumitalic-webfont.svg#Formata-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*
@font-face {
font-family: Formata-Light;
    src: url('../fonts/formatalight.eot');
    src: url('../fonts/formatalight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formatalight.woff') format('woff'),
         url('../fonts/formatalight.ttf') format('truetype'),
         url('../fonts/formatalight.svg#Formata-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*
@font-face {
font-family: Formata-Italic;
    src: url('../fonts/formata-italic-webfont.eot');
    src: url('../fonts/formata-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formata-italic-webfont.woff') format('woff'),
         url('../fonts/formata-italic-webfont.ttf') format('truetype'),
         url('../fonts/formata-italic-webfont.svg#Formata-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*
@font-face {
font-family: Formata-LightItalic;
    src: url('../fonts/Formata-LightItalic.eot');
    src: url('../fonts/Formata-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Formata-LightItalic.woff') format('woff'),
         url('../fonts/Formata-LightItalic.ttf') format('truetype'),
         url('../fonts/Formata-LightItalic.svg#Formata-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

/*
@font-face {
	font-family: FormataMedium;
	src: url('../fonts/formata-medium-webfont.eot');
	src: url('../fonts/formata-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/formata-medium-webfont.woff') format('woff'),
	url('../fonts/formata-medium-webfont.ttf') format('truetype'),
	url('../fonts/formata-medium-webfont.svg#FormataMedium') format('svg');
	font-weight: normal;
	font-style: normal; }
*/

@font-face {
font-family: Formata-Bold;
    src: url('../fonts/formata-bold-webfont.eot');
    src: url('../fonts/formata-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formata-bold-webfont.woff') format('woff'),
         url('../fonts/formata-bold-webfont.ttf') format('truetype'),
         url('../fonts/formata-bold-webfont.svg#Formata-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: Formata-BoldItalic;
    src: url('../fonts/formata-bolditalic-webfont.eot');
    src: url('../fonts/formata-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formata-bolditalic-webfont.woff') format('woff'),
         url('../fonts/formata-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/formata-bolditalic-webfont.svg#Formata-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}





.regular12blue{
    font-family: 'Flexo-Regular';
    font-size: 12px;
    color:#000068;  
}
.regular14white{
    font-family: 'Flexo-Regular';
    font-size: 14px;
    color:#FFFFFF;    
}
.italic23white{
    font-family: 'Flexo-Italic';
    font-size: 23px;
    color:#FFFFFF;  
}
.italic23dark{
    font-family: 'Flexo-Italic';
    font-size: 23px;
    color:#474747;  
}
.italic14white{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#FFFFFF;  
}
.italic14blue{
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color:#000068;  
}
.mediumitalic14white{
    font-family: 'Flexo-Bold';
    font-size: 14px;
    color:#FFFFFF;  
}
.light30yellow{
    font-family: 'Flexo-Light';
    font-size: 30px;
    color:#ffcc00;    
}
.light14white{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#FFFFFF;    
}
.light1492{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#929292;    
}
.light23white{
    font-family: 'Flexo-Light';
    font-size: 23px;
    color:#FFFFFF;    
}
.light23yellow{
    font-family: 'Flexo-Light';
    font-size: 23px;
    color:#ffcc00;    
}
.light14dark{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#474747;    
}
.italic14dark{
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color:#474747;    
}
.italic15light{
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color:#727272;    
}
.bolditalic14dark{
    font-family: 'Flexo-Bold';
    font-style: italic;
    font-size: 14px;
    color:#474747;    
}
.italic14light{
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color:#727272;    
}
.italic12light{
    font-family: 'Flexo-Italic';
    font-size: 12px;
    color:#727272;    
}
.lightitalic14dark{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#474747;    
}
.mediumitalic14dark{
    font-family: 'Flexo-Bold';
    font-size: 14px;
    color:#474747;    
}
.lightitalic16dark{
    font-family: 'Flexo-Light';
    font-size: 16px;
    color:#474747;    
}
.mediumitalic16dark{
    font-family: 'Flexo-Bold';
    font-size: 16px;
    color:#474747;    
}
.lightitalic16light{
    font-family: 'Flexo-Light';
    font-size: 16px;
    color:#727272;    
}
.mediumitalic16light{
    font-family: 'Flexo-Bold';
    font-size: 16px;
    color:#727272;    
}
.lightitalic14light{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#727272;    
}
.mediumitalic14light{
    font-family: 'Flexo-Bold';
    font-size: 14px;
    color:#727272;    
}
.lightitalic11light{
    font-family: 'Flexo-Light-Italic';
    font-size: 11px;
    color:#727272;    
}
.lightitalic11dark{
    font-family: 'Flexo-Light';
    font-size: 11px;
    color:#474747;    
}
.mediumitalic11dark{
    font-family: 'Flexo-Bold';
    font-size: 11px;
    color:#474747;    
}
.bolditalic30orange{
    font-family: 'Flexo-Bold';
    font-style: italic;
    font-size: 30px;
    color:#ff4f00;   
}
.bolditalic23orange{
    font-family: 'Flexo-Bold';
    font-style: italic;
    font-size: 23px;
    color:#ff4f00;
}
.lightitalic23orange{
    font-family: 'Flexo-Light';
    font-size: 23px;
    color:#ff4f00;
}
.lightitalic11orange{
    font-family: 'Flexo-Light';
    font-size: 11px;
    color:#ff4f00;
}
.italic30orange{
    font-family: 'Flexo-Italic';
    font-size: 30px;
    color:#ff4f00;   
}
.italic11orange{
    font-family: 'Flexo-Italic';
    font-size: 11px;
    color:#ff4f00;   
}
.italic11orangecursor{
    font-family: 'Flexo-Italic';
    font-size: 11px;
    color:#ff4f00;
    cursor:pointer;   
}
.italic11redcursor{
    font-family: 'Flexo-Italic';
    font-size: 11px;
    color:#dd0a0a;
    cursor:pointer;   
}
.regular11redcursor{
    font-family: 'Flexo-Regular';
    font-size: 11px;
    color:#dd0a0a;
    cursor:pointer;   
}
.mediumitalic30orange{
    font-family: 'Flexo-Bold';
    font-size: 30px;
    color:#ff4f00;   
}
.lightitalic14blue{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#000068;      
}
.mediumitalic14blue{
    font-family: 'Flexo-Bold';
    font-size: 14px;
    color:#000068;  
}
.lightitalic18white{
    font-family: 'Flexo-Light';
    font-size: 18px;
    color:#FFFFFF;    
}
.mediumitalic18white{
    font-family: 'Flexo-Bold';
    font-size: 18px;
    color:#FFFFFF;    
}
.italic18white{
    font-family: 'Flexo-Italic';
    font-size: 18px;
    color:#FFFFFF;    
}



.lightitalic22white{
    font-family: 'Flexo-Light';
    font-size: 22px;
    color:#FFFFFF;    
}
.mediumitalic22white{
    font-family: 'Flexo-Bold';
    font-size: 22px;
    color:#FFFFFF;    
}
.italic22white{
    font-family: 'Flexo-Italic';
    font-size: 22px;
    color:#FFFFFF;    
}


.visaconfirmation h3
{
    font-size:16px;
    font-weight:bold; 
    margin-bottom:24px;
    color:#474747;
 }