*:focus {
    outline: 0;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

sup {
    font-size: xx-small;
    vertical-align: super;
}

html {
    /*background: #042444 url("../images/bodybg.jpg") no-repeat center top;*/
    -webkit-text-size-adjust: 100%;
}

body {
    background: #042444;
    font-family: 'Flexo-Italic';
    font-size: 14px;
}

p, span, div, li, ul, section {
    max-height: 1000000px;
}

#bodydivforbg {
    background: url("../images/bodybg.jpg") no-repeat center top;
    min-width: 1020px;
    min-height: 940px;
}

#NavHome {
    display: none;
}

.wrap {
    padding-bottom: 50px;
}

.left {
    float: left;
}

.content {
    max-width: 1280px;
    min-width: 780px;
    margin: 0 auto;
}

.contentwrap {
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
}

.header {
    height: 106px;
    background: #F7F7F7;
    width: 100%;
    margin: 0 auto;
    min-width: 1020px;
}

.logobcp {
    background: url("../images/logobcp.png") no-repeat;
    width: 149px;
    height: 92px;
    margin-left: 30px;
    float: left;
}

.logolan {
    background: url("../images/logolanpass.jpg") no-repeat left bottom;
    width: 122px;
    height: 43px;
    margin-right: 30px;
    float: right;
    margin-top: 40px;
}

.navbar ul > li > a {
    display: block;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF !important;
    float: left;
}

    .navbar ul > li > a:hover, .navbar ul > li > a:focus {
        background: url("../images/buttonbg.jpg") repeat;
        height: 42px;
        color: #FFF !important;
        float: left;
    }

.navbar .active {
    background: url("../images/buttonbg.jpg") repeat-x;
    height: 42px;
    color: #FFF;
}

.navbar ul > li {
    float: left;
    display: block;
    background-image: url("../images/navbar_border.png");
    background-position: left;
    background-repeat: no-repeat;
}

.navbar ul {
    float: right;
    max-width: 1280px;
    margin: 0 auto;
    margin-right: 150px;
}

.navbar {
    background: url("../images/navbarbg.jpg") repeat-x;
    line-height: 37px;
    height: 37px;
    width: 100%;
    min-width: 1020px;
    margin: 0 auto;
    font-family: 'Flexo-Regular';
    font-size: 13px;
    color: #FFFFFF;
}

.headContent {
    width: 100%;
    min-width: 1020px; /*margin: 0 auto 5px auto;*/
    padding-top: 20px;
    height: 40px;
    color: #000068;
    margin: 0 auto 5px auto;
    line-height: 1.1;
    background: rgba(247,247,247,0.8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCF7F7F7,endColorstr=#CCF7F7F7)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCF7F7F7,endColorstr=#CCF7F7F7); /* IE6 & 7 */
    zoom: 1;
}

    .headContent h1 {
        font-family: 'Flexo-Bold';
        font-size: 30px;
    }

    .headContent p {
        font-family: 'Flexo-Light';
        font-size: 16px;
    }

.Content {
    width: 960px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 20px 20px 20px 40px;
}

.ContentFaustino {
    position: relative;
    width: 980px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 20px 20px 120px 20px;
}

.ContentPromo {
    width: 960px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 20px 40px 20px 20px;
}

.footer {
    width: 990px;
    margin: 0 auto;
    background: #E8E8E8; /*line-height: 66px;*/
    height: 66px;
    padding-left: 30px;
}

    .footer a {
        margin: 0 10px;
        display: inline-block;
    }

.contentSlided {
    position: relative;
}

#bannerSlider {
    width: 980px;
    height: 260px;
    overflow: hidden;
}

.slider {
    width: 980px;
    height: 260px;
    margin: 0 auto; /*background: url("../images/slider/banner1.jpg") no-repeat;*/
    color: #FFF;
    position: relative;
}

    .slider .bannerslide {
        width: 980px;
        height: 260px; /*position:absolute;     top:0;     left:0;*/
        float: left;
        position: relative;
    }

        .slider .bannerslide.venta50 {
            background: url('../images/slider/banner-Venta50.jpg');
        }

        .slider .bannerslide.bannerultimallamada.cont-banner-lanpass-ae {
            position: relative;
            width: 982px;
            height: 261px;
            background: url('../images/slider/bg-banner-compra.jpg');
        }

            .slider .bannerslide.bannerultimallamada.cont-banner-lanpass-ae .cont-int-lanpass-ae {
                position: relative;
                z-index: 29;
                left: 505px;
                top: 131px;
                width: 410px;
                color: #FFFFFF;
                padding-top: 5px;
            }

                .slider .bannerslide.bannerultimallamada.cont-banner-lanpass-ae .cont-int-lanpass-ae h2 {
                    width: 99%;
                    font-family: 'FlexoMediumItalic';
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 19px;
                    padding-bottom: 14px;
                    color: #214283;
                }

            .slider .bannerslide.bannerultimallamada.cont-banner-lanpass-ae .btn-descubre {
                display: block;
                width: 298px;
                height: 46px;
                background: url('../images/slider/btn-canjea.png') no-repeat;
                margin: -5px 0 0 27px;
            }

        .slider .bannerslide.bannercanjea.cont-banner-lanpass-ae {
            position: relative;
            width: 982px;
            height: 261px;
            background: url('../images/slider/bg-banner-kms.jpg');
        }

            .slider .bannerslide.bannercanjea.cont-banner-lanpass-ae .cont-int-lanpass-ae {
                position: relative;
                z-index: 29;
                left: 476px;
                top: 92px;
                width: 350px;
                color: #FFFFFF;
            }

                .slider .bannerslide.bannercanjea.cont-banner-lanpass-ae .cont-int-lanpass-ae h2 {
                    width: 99%;
                    font-family: 'FlexoMedium';
                    font-size: 30px;
                    font-weight: normal;
                    line-height: 19px;
                    padding-bottom: 14px;
                    border-bottom: 2px dotted #fff;
                }

                .slider .bannerslide.bannercanjea.cont-banner-lanpass-ae .cont-int-lanpass-ae h3 {
                    width: 100%;
                    font-family: 'Flexo-Regular';
                    font-size: 11px;
                    font-weight: normal;
                    font-style: normal;
                    line-height: 13px;
                    padding-bottom: 10px;
                    /* border-bottom: 1px dotted #fff; */
                    padding-top: 6px;
                }

                .slider .bannerslide.bannercanjea.cont-banner-lanpass-ae .cont-int-lanpass-ae p {
                    font-size: 11px;
                    line-height: 13px;
                }

                .slider .bannerslide.bannercanjea.cont-banner-lanpass-ae .cont-int-lanpass-ae .btn-descubre {
                    display: block;
                    width: 130px;
                    height: 25px;
                    background: url('../images/slider/btn-informate.png') no-repeat;
                    margin: 8px 0 0 197px;
                }

            .slider .bannerslide.bannercanjea.cont-banner-lanpass-ae .text-legal {
                bottom: 0;
                position: absolute;
                font-family: 'Flexo-Bold';
                font-size: 8px;
                margin: 0 10px 4px;
                text-transform: uppercase;
                color: #222;
            }


        .slider .bannerslide.tiendaxdepartamentos {
            background: url("../images/slider/bg-banner-tpd.jpg") no-repeat center;
        }

            .slider .bannerslide.tiendaxdepartamentos .cont_banner {
                position: relative;
                z-index: 29;
                left: 506px;
                top: 79px;
                width: 354px;
                color: #FFFFFF;
            }

                .slider .bannerslide.tiendaxdepartamentos .cont_banner .msg {
                    height: 165px;
                }

                    .slider .bannerslide.tiendaxdepartamentos .cont_banner .msg .title-index {
                        font-size: 16px;
                        font-family: 'Flexo-Regular';
                        line-height: 19px;
                        margin: 0;
                        padding-bottom: 10px;
                    }

                        .slider .bannerslide.tiendaxdepartamentos .cont_banner .msg .title-index strong {
                            font-family: 'Flexo-Bold';
                        }

                    .slider .bannerslide.tiendaxdepartamentos .cont_banner .msg .text-title-home {
                        margin-bottom: 10px;
                        text-decoration: none;
                        font-style: normal;
                        font-size: 11px;
                        font-family: 'Flexo-Regular';
                        line-height: 13px;
                        margin-top: 14px;
                    }

                .slider .bannerslide.tiendaxdepartamentos .cont_banner .btn-inscribir {
                    display: block;
                    position: absolute;
                    width: 111px;
                    height: 18px;
                    background: url('../images/slider/btn-inscribir.png') 0px 0px no-repeat;
                    bottom: 1px;
                    right: 222px;
                }

        .slider .bannerslide.bannersupermercadosx5 .btn-inscribir,
        .slider .bannerslide.bannersupermercadosx5b .btn-inscribir {
            display: block;
            position: absolute;
            width: 111px;
            height: 18px;
            background: url('../images/slider/btn-inscribir.png') 0px 0px no-repeat;
            bottom: -60px;
            right: 175px;
        }

        .slider .bannerslide.bannersupermercadosx5 .cont-int-tpd,
        .slider .bannerslide.bannersupermercadosx5b .cont-int-tpd {
            position: relative;
            z-index: 29;
            left: 515px;
            top: 75px;
            width: 315px;
            color: #FFFFFF;
        }

            .slider .bannerslide.bannersupermercadosx5 .cont-int-tpd h2,
            .slider .bannerslide.bannersupermercadosx5b .cont-int-tpd h2 {
                width: 100%;
                font-family: 'Flexo-Regular';
                font-size: 17px;
                font-weight: normal;
                line-height: 19px;
                padding-bottom: 10px;
            }


        .slider .bannerslide.bannerKms {
            background: url("../images/slider/banner_lanpasskms.jpg") no-repeat center;
        }

            .slider .bannerslide.bannerKms .cont_banner {
                position: relative;
                z-index: 29;
                left: 479px;
                top: 57px;
                width: 456px;
                color: #FFFFFF;
            }

                .slider .bannerslide.bannerKms .cont_banner .msg {
                    height: 168px;
                }

                    .slider .bannerslide.bannerKms .cont_banner .msg .title-index {
                        font-size: 38px;
                        font-family: 'Flexo-Bold';
                        line-height: 32px;
                        margin: 0;
                    }

                    .slider .bannerslide.bannerKms .cont_banner .msg .text-title-home {
                        margin-bottom: 10px;
                        text-decoration: none;
                        font-style: normal;
                        font-size: 14px;
                        font-family: 'Flexo-Regular';
                        line-height: 16px;
                        margin-top: 28px;
                    }

                .slider .bannerslide.bannerKms .cont_banner .btn-inscribir {
                    display: block;
                    position: absolute;
                    width: 108px;
                    height: 37px;
                    background: url('../images/slider/btn_informate.png') 0px 0px no-repeat;
                    bottom: 6px;
                    right: 164px;
                }

                    .slider .bannerslide.bannerKms .cont_banner .btn-inscribir:hover {
                        background: url('../images/slider/btn_informate.png') 0px -37px no-repeat;
                    }



        .slider .bannerslide.banneramex260514 {
            background: url("../images/slider/amex-bg-banner-260514.jpg") no-repeat center;
        }

            .slider .bannerslide.banneramex260514 .cont_banner {
                position: relative;
                z-index: 29;
                left: 434px;
                top: 48px;
                width: 420px;
                color: #FFFFFF;
            }

                .slider .bannerslide.banneramex260514 .cont_banner .msg {
                    padding-left: 22px !important;
                    padding-top: 15px !important;
                    height: 190px;
                }

                    .slider .bannerslide.banneramex260514 .cont_banner .msg .lineas {
                        margin: 0;
                    }

                    .slider .bannerslide.banneramex260514 .cont_banner .msg .title-index {
                        font-size: 26px;
                        font-family: 'Flexo-Regular';
                        line-height: 28px;
                        margin: 0;
                    }

                    .slider .bannerslide.banneramex260514 .cont_banner .msg .text-title-home {
                        margin-bottom: 10px;
                        text-decoration: none;
                        font-style: normal;
                        font-size: 12px;
                        font-family: 'Flexo-Regular';
                        line-height: 14px;
                    }

                    .slider .bannerslide.banneramex260514 .cont_banner .msg .cont_tarjetas {
                        width: 250px;
                        height: 53px;
                        display: block;
                        background: url('../images/slider/tarjetas-join.png') no-repeat;
                    }

                .slider .bannerslide.banneramex260514 .cont_banner .btn-inscribir {
                    display: block;
                    position: absolute;
                    width: 111px;
                    height: 18px;
                    background: url('../images/slider/btn-inscribir.png') no-repeat;
                    bottom: 10px;
                    right: 10px;
                }


        .slider .bannerslide.bannerplasticchoice {
            background: url('../images/slider/Banner_Lanpass_plasticchoice.jpg') no-repeat;
        }

        .slider .bannerslide.bannercarrera10k {
            background: url('../images/slider/banner_lanpass_carrera10k.jpg') no-repeat;
        }

        .slider .bannerslide.bannerdescrubrelanpass {
            background: url('../images/slider/banner_lanpass_descrubrelanpass.jpg') no-repeat;
        }

        .slider .bannerslide.bannerpromoamexx5 {
            background: url('../images/slider/banner-PROMOAMEXx5.jpg') no-repeat;
        }

        .slider .bannerslide.bannersupermercadosx5 {
            background: url('../images/slider/banner_lanpass_supermercadosx5.jpg') no-repeat;
        }

        .slider .bannerslide.bannersupermercadosx5b {
            background: url('../images/slider/banner_lanpass_supermercadosx5b.jpg') no-repeat;
        }

        .slider .bannerslide.banneramex {
            background: url('../images/slider/bg-banner-lanpass-ae.jpg') no-repeat;
        }

        .slider .bannerslide.banneramex {
            background: url('../images/slider/bg-banner-lanpass-ae.jpg') no-repeat;
        }

        .slider .bannerslide.bannernavidad2014 {
            background: url('../images/slider/bg-banner-navidad-2014.jpg') no-repeat;
            width: 980px;
            height: 260px;
            position: relative;
            font-family: 'flexo-regular';
        }

            .slider .bannerslide.bannernavidad2014 .cont-int-tpd {
                position: relative;
                z-index: 29;
                left: 530px;
                top: 80px;
                width: 315px;
                color: #FFFFFF;
            }

                .slider .bannerslide.bannernavidad2014 .cont-int-tpd h2 {
                    width: 100%;
                    font-family: 'flexo-regular';
                    font-size: 19px;
                    font-weight: normal;
                    line-height: 19px;
                    padding-bottom: 10px;
                }

                .slider .bannerslide.bannernavidad2014 .cont-int-tpd h3,
                .slider .bannerslide.bannernavidad2014 ul {
                    width: 100%;
                    font-family: 'Flexo-Italic';
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    line-height: 18px;
                    padding-bottom: 10px;
                }

                .slider .bannerslide.bannernavidad2014 .cont-int-tpd p {
                    font-size: 11px;
                    line-height: 13px;
                }

            .slider .bannerslide.bannernavidad2014 .btn-inscribir {
                display: block;
                width: 126px;
                height: 20px;
                background: url('../images/btn-inscribir.png') no-repeat;
                margin: -33px 0 0 215px;
            }

            .slider .bannerslide.bannernavidad2014 .btn-suscribete {
                display: block;
                width: 137px;
                height: 22px;
                background: url('../images/slider/btn-inscribete.jpg') no-repeat;
                margin: 45px 0 0 170px;
            }

            .slider .bannerslide.bannernavidad2014 ul.bullet {
                list-style-image: url('../images/vineta_s.jpg');
            }

        .slider .bannerslide.bannerusala {
            background: url('../images/slider/bg-banner-x5.jpg') no-repeat;
            width: 980px;
            height: 260px;
            position: relative;
            font-family: 'flexo-regular';
        }

            .slider .bannerslide.bannerusala .cont-int-tpd {
                position: relative;
                z-index: 29;
                left: 545px;
                top: 60px;
                width: 315px;
                color: #FFFFFF;
            }

                .slider .bannerslide.bannerusala .cont-int-tpd h2 {
                    width: 100%;
                    font-family: 'flexo-regular';
                    font-size: 17px;
                    font-weight: normal;
                    line-height: 19px;
                    padding-bottom: 10px;
                }

                .slider .bannerslide.bannerusala .cont-int-tpd p {
                    font-size: 11px;
                    line-height: 13px;
                }

            .slider .bannerslide.bannerusala .btn-inscribir {
                display: block;
                width: 126px;
                height: 20px;
                background: url('../images/btn-inscribir.png') no-repeat;
                margin: 38px 0 0 165px;
            }

            .slider .bannerslide.bannerusala .btn-suscribete {
                display: block;
                width: 137px;
                height: 22px;
                background: url('../images/slider/btn-inscribete.jpg') no-repeat;
                margin: 45px 0 0 170px;
            }

        .slider .bannerslide.banneramex .cont-int-lanpass-ae {
            position: relative;
            z-index: 29;
            left: 396px;
            top: 46px;
            width: 350px;
            color: #FFFFFF;
        }

        .slider .bannerslide.banneramex h2 {
            width: 100%;
            font-family: 'flexo-regular';
            font-size: 32px;
            font-weight: normal;
            line-height: 32px;
            padding-bottom: 10px;
        }

        .slider .bannerslide.banneramex .btn-descubre {
            display: block;
            width: 210px;
            height: 35px;
            background: url('../images/btn-descubre.jpg') no-repeat;
            margin: 100px 0 0 84px;
        }

        .slider .bannerslide[data-id="1"] .cont_banner {
            position: absolute;
            width: 518px;
            height: 211px;
            position: absolute;
            top: 48px;
            left: 434px;
        }

            .slider .bannerslide[data-id="1"] .cont_banner .bnr_left {
                position: relative;
                top: 0px;
                left: 0px;
                padding: 0 30px;
                font-family: 'Flexo-Regular' !important;
            }

                .slider .bannerslide[data-id="1"] .cont_banner .bnr_left h2 {
                    font-size: 24px;
                    position: absolute;
                    top: 36px;
                    font-family: 'Flexo-Regular' !important;
                }

                .slider .bannerslide[data-id="1"] .cont_banner .bnr_left h3 {
                    font-size: 38px;
                    position: absolute;
                    top: 60px;
                }

                .slider .bannerslide[data-id="1"] .cont_banner .bnr_left h4 {
                    font-size: 15px;
                    font-family: 'Flexo-Italic';
                    line-height: 1.1em;
                    position: absolute;
                    top: 115px;
                    font-weight: bold;
                }

                .slider .bannerslide[data-id="1"] .cont_banner .bnr_left h5 {
                    font-size: 0.6em;
                    font-family: 'Flexo-Italic';
                    position: absolute;
                    top: 155px;
                    font-weight: bold;
                }

            .slider .bannerslide[data-id="1"] .cont_banner .bnr_right {
                float: right;
                color: #00367E;
                position: relative;
                width: 174px;
                text-align: center;
                height: 154px;
                padding: 6px 5px 0 0;
            }

                .slider .bannerslide[data-id="1"] .cont_banner .bnr_right p {
                    font-family: "Flexo-Bold";
                    font-size: 11px;
                }

                    .slider .bannerslide[data-id="1"] .cont_banner .bnr_right p span {
                        font-size: 50px;
                        line-height: 1em;
                    }

        .slider .bannerslide[data-id="1"] .btnmasinfo {
            background: url("../images/slider/btnMasinfoamex.png") no-repeat;
            width: 159px;
            height: 31px;
            line-height: 31px;
            display: block;
            position: absolute;
            bottom: 9px;
            right: 369px;
        }

        .slider .bannerslide[data-id="2"] {
            background: url('../images/promopascua/bg_pascua.jpg') no-repeat;
        }

            .slider .bannerslide[data-id="2"] .cont_banner {
                position: absolute;
                width: 647px;
                height: 202px;
                top: 35px;
                left: 253px;
            }

                .slider .bannerslide[data-id="2"] .cont_banner .bnr_left {
                    position: relative;
                    top: 0px;
                    left: 0px;
                    padding: 30px 0 0 30px;
                    font-family: 'Flexo-Regular' !important;
                    float: left;
                }

                    .slider .bannerslide[data-id="2"] .cont_banner .bnr_left h2 {
                        font-family: 'Flexo-Italic';
                        font-size: 36px;
                        margin-bottom: 15px;
                    }

                    .slider .bannerslide[data-id="2"] .cont_banner .bnr_left h3 {
                        font-family: 'Flexo-Italic';
                        font-size: 14px;
                        margin-bottom: 15px;
                        line-height: 17px;
                    }

                .slider .bannerslide[data-id="2"] .cont_banner .bnr_right {
                    float: right;
                    color: #00367E;
                    position: relative;
                    width: 174px;
                    text-align: center;
                    height: 154px;
                    width: 128px;
                    padding: 15px 5px 0 0;
                }

                    .slider .bannerslide[data-id="2"] .cont_banner .bnr_right p {
                        font-family: 'Flexo-bold';
                        font-size: 11px;
                        position: absolute;
                    }

                    .slider .bannerslide[data-id="2"] .cont_banner .bnr_right .txt_r1 {
                        top: 16px;
                        left: 24px;
                    }

                    .slider .bannerslide[data-id="2"] .cont_banner .bnr_right .txt_r2 {
                        top: 37px;
                        left: 5px;
                    }

                    .slider .bannerslide[data-id="2"] .cont_banner .bnr_right .txt_r3 {
                        top: 98px;
                        left: 37px;
                    }

                    .slider .bannerslide[data-id="2"] .cont_banner .bnr_right p span {
                        font-size: 60px;
                        letter-spacing: -2px;
                    }

                        .slider .bannerslide[data-id="2"] .cont_banner .bnr_right p span sub {
                            font-size: 35px;
                        }

                .slider .bannerslide[data-id="2"] .cont_banner .btn-landing {
                    background: url('../images/promopascua/btn-more-info.png') no-repeat;
                    width: 133px;
                    height: 27px;
                    display: block;
                    position: absolute;
                    top: 145px;
                    left: 112px;
                    font-family: 'Flexo-Italic';
                    font-size: 11px;
                    color: #00367E;
                    text-decoration: none;
                    line-height: 27px;
                    font-weight: bold;
                    text-align: center;
                }

        .slider .bannerslide[data-id="3"] {
            background: url('../images/slider/banner_lanpass.jpg') no-repeat;
        }

            .slider .bannerslide[data-id="3"] .cont_banner {
                position: absolute;
                width: 342px;
                height: 181px;
                top: 59px;
                left: 28px;
                color: #fff;
            }

                .slider .bannerslide[data-id="3"] .cont_banner h2 {
                    font-family: 'Flexo-regular';
                    font-size: 22px;
                    font-weight: bold;
                    margin: 22px 0 12px 30px;
                }

                .slider .bannerslide[data-id="3"] .cont_banner p {
                    font-family: 'Flexo-regular';
                    font-size: 18px;
                    line-height: 23px;
                    margin: 0 0 20px 30px;
                }

                .slider .bannerslide[data-id="3"] .cont_banner a {
                    font-family: 'Flexo-regular';
                    font-size: 17px;
                    color: #ffe720;
                    text-decoration: underline;
                    margin: 0 0 0 30px;
                }


        .slider .bannerslide[data-id="4"] {
            /*background: url('../images/slider/banner_credimas.jpg') no-repeat;*/
            background: url('../images/slider/banner_pascua.jpg') no-repeat;
        }

        .slider .bannerslide[data-id="5"] {
            background: url('../images/slider/banner_enalta.jpg') no-repeat;
        }


        /***Banner 2015-04-12***/
        .slider .bannerslide[data-id="18"] {
            position: relative;
            width: 982px;
            height: 261px;
            background: url('../images/bg-banner-kms-201504.jpg');
        }
        /***Banner 2015-04-23***/
        .slider .bannerslide[data-id="19"] {
            position: relative;
            width: 982px;
            height: 261px;
            background: url('../images/banner-bcp-19.jpg');
        }

    .slider .cont-int-lanpass-ae {
        position: relative;
        z-index: 29;
        left: 677px;
        top: 47px;
        width: 237px;
        color: #FFFFFF;
    }

        .slider .cont-int-lanpass-ae h2 {
            width: 100%;
            font-family: 'FlexoMedium';
            font-size: 18px;
            font-weight: normal;
            line-height: 19px;
            padding-bottom: 14px;
        }

        .slider .cont-int-lanpass-ae h3 {
            width: 100%;
            font-family: 'Flexo-Regular';
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            line-height: 13px;
            padding-bottom: 10px;
            /* border-bottom: 1px dotted #fff; */
            padding-top: 6px;
        }

        .slider .cont-int-lanpass-ae p {
            font-size: 11px;
            line-height: 13px;
        }

        .slider .cont-int-lanpass-ae .btn-descubre {
            display: block;
            width: 225px;
            height: 40px;
            background: url('../images/btn-informate.png') no-repeat;
            margin-top: 80px;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 4px;
        }

.promosupermercadosx5 {
    width: 982px;
    height: 665px;
    margin: 0 auto;
    background: url("../images/promo/bg-landing-supermercadosx5.jpg") no-repeat;
    color: #FFF;
}

    .promosupermercadosx5 .promobanner {
        background: none;
        margin-top: 200px;
        width: 413px;
    }

    .promosupermercadosx5 .btnInscribete {
        margin-top: 150px;
    }

    .promosupermercadosx5 h1 {
        width: 325px;
        font-family: 'Flexo-Regular';
        font-size: 20px;
        font-weight: normal;
        line-height: 26px;
        padding-bottom: 15px;
        text-align: justify;
    }

.bannerSlide {
    width: 499px;
    height: 134px;
    background: url("../images/slider/bg-pastilla.png") no-repeat;
    padding: 20px 20px 20px 30px;
    margin-top: 40px;
    right: 0;
    position: absolute;
}

    .bannerSlide h1 {
        font-size: 23px; /*font-family: 'Flexo-Italic';*/
    }

    .bannerSlide p {
        line-height: 18px;
    }

    .bannerSlide hr {
        border: 1px dashed #FFF;
    }

.texto hr {
    border: 1px dashed #B2B2B2;
    margin-top: 0px;
    margin-bottom: 30px;
}

.lista hr {
    border: 1px dashed #B2B2B2;
}

.tarjetas hr {
    border: 1px dashed #B2B2B2;
    margin-bottom: 10px;
}

.tarjetas > a {
    display: inline-block;
    float: left;
    background: url("../images/visacard/visacard_buttonaskhere.png") bottom no-repeat;
    width: 114px;
    height: 31px;
    line-height: 31px;
    color: #000068 !important;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: bold;
}

    .tarjetas > a:hover, .tarjetas > a:focus {
        background: url("../images/visacard/visacard_buttonaskhere.png") no-repeat;
    }

.pagSlide {
    /*float: right; 	margin-top: 232px; 	margin-right: 13px;*/
    position: absolute;
    top: 232px;
    right: 13px;
}

    .pagSlide a {
        font-family: 'Flexo-Regular' !important;
        background: url("../images/slider/pageSlider.png") no-repeat;
        display: inline-block;
        height: 16px;
        line-height: 16px;
        text-align: center;
        text-decoration: none;
        width: 16px;
        font-size: 12px;
        font-weight: normal;
        color: #2B2B2B;
        margin: 0 2px;
    }

        .pagSlide a.selected {
            background: url("../images/slider/pageSlider_hover.png") no-repeat;
        }

.bannerderecha {
    width: 50%;
    float: right;
    margin: 5% 0;
}

.btn {
    background: url("../images/slider/buttonbg.png") 0px bottom no-repeat;
    display: block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    width: 93px;
    margin-top: 7px;
    cursor: pointer;
}

    .btn:hover, .btn:focus {
        background: url("../images/slider/buttonbg.png") no-repeat;
    }

.btn2 {
    /*background: url("../images/slider/btn_pescolar.png") 0px 0px no-repeat;*/
    background: url("../images/slider/btn_pescolar.png") no-repeat top;
    display: block;
    color: #fff;
    width: 178px;
    height: 36px;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    font-family: 'Flexo-Light';
    font-size: 15px;
    margin: 38px 0 0 251px;
}

    .btn2:hover, .btn2:focus {
        /*background: url("../images/slider/btn_pescolar.png") 0px -36px no-repeat;*/
        background: url("../images/slider/btn_pescolar.png") no-repeat bottom;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        color: #fff;
    }


.btnPagSlide {
    font-family: 'Flexo-Regular' !important;
    background: url("../images/slider/pageSlider.png") no-repeat;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    width: 18px;
    font-size: 12px;
    font-weight: bold;
}

a.btnPagSlide.active {
    background: url("../images/slider/pageSlider_hover.png") no-repeat;
}

.tarjetas {
    background: #EEEEEE;
    border-radius: 10px; /*margin: 20px auto 0px -15px;*/
    margin: 20px 0px 20px -14px;
    width: 932px;
    padding: 20px 20px 12px 20px;
    height: 330px;
}

.visaconfirmation {
    border-radius: 10px; /*margin: 20px auto;*/
    margin: 20px 0;
    width: 95%;
    padding: 20px; /*min-height: 424px;*/
    height: 286px;
    background: #EEEEEE;
    font-family: "Flexo-Regular";
}

.imgAbsolute {
    position: absolute;
    top: 65px;
    right: 0;
    width: 276px;
    height: 331px;
}

.img_confirmacion {
    background: url(../images/visaconfirmation/formconfirmation_image.png) no-repeat;
    width: 276px;
    height: 331px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/visaconfirmation/formconfirmation_image.png',sizingMethod='crop');
}

.visaconfirmation header h1 {
    font-family: "Flexo-Bold";
    font-size: 16px !important;
    color: #474747 !important;
    margin: 20px 0;
}

.visaconfirmation p {
    width: 65%;
}

.Content header {
    overflow: hidden;
    position: relative;
}

    .Content header h1 {
        color: #FF4F00;
        font-family: 'Flexo-Bold';
        font-size: 30px;
        float: left; /*margin-bottom: 25px;*/
        display: block;
        float: left;
    }

    .Content header .div_regresa {
        display: block;
        position: absolute;
        top: -21px;
        left: 834px;
        z-index: 2;
    }

    .Content header .div_regresa2 {
        display: block;
        position: absolute;
        top: -21px;
        left: 850px;
        z-index: 2;
    }

.btnRegresar {
    display: block;
    width: 93px;
    height: 33px;
    float: right;
    background: url('../images/btnRegresar.png') no-repeat top left;
}

    .btnRegresar:hover {
        background: url('../images/btnRegresar.png') no-repeat bottom left;
    }

.texto header h1, .lista header h1 {
    font-size: 23px;
    margin-bottom: 10px;
}

    .texto header h1 img {
        margin-right: 10px;
    }

    .lista header h1 img {
        margin-right: 10px;
    }

.Content .texto {
    line-height: 1.25;
    float: left;
    width: 67%;
    font-size: 16px;
    outline: none;
}

.tarjetas figcaption {
    margin-top: 10px;
}

    .tarjetas figcaption p {
        color: #000068;
    }

.tarjetas figure {
    width: 144px;
    padding: 10px;
    float: left;
}

.tarjetas section {
    display: inline-block;
    margin: 10px auto;
}

.tarjetas h3 {
    font-size: 16px;
    text-align: center;
    margin: 20px;
    color: #000068;
    font-family: "flexo-regular";
}

.tarjetas .visa figure {
    float: left;
    width: 21.9%;
    text-align: center;
}


    .tarjetas .visa figure img {
        margin: 20px 0px 0px;
    }

.tarjetas .visa h1 {
    font-family: 'Flexo-Light' !important;
    font-size: 18px !important;
    color: #727272 !important;
}

.tarjetas .visa h2 {
    font-family: 'Flexo-Light' !important;
    font-size: 25px !important;
    color: #727272 !important;
    font-weight: bold;
}

.visa figure figcaption p {
    text-align: left;
    padding-left: 24px;
}

.visa {
    width: 100%;
    margin-top: 20px !important; /*temporal*/
}

.tarjetas section header h1 {
    font-family: 'Flexo-Regular' !important;
    font-size: 23px !important;
    color: #474747 !important;
    margin-top: 40px;
    float: none;
}

.tarjetas ul {
    list-style: square url("../images/canje/cards_bullet.png");
}

    .tarjetas ul li {
        margin-left: 20px;
        line-height: 1.5;
        font-family: "flexo-regular";
        text-align: left;
    }

.tarjetas li a {
    color: #474747 !important;
}

    .tarjetas li a:hover {
        font-family: 'Flexo-regular' !important;
        color: #000068 !important;
    }

.tarjetas img {
}

.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
}

.texto ul ul {
    list-style: none;
    margin: 10px;
}

.texto ul, .lista ul {
    /*list-style: url("../images/cards/cards_bullet.png");     list-style-position: initial;*/
}

    .texto ul li {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;
        padding-left: 3px;
    }

    .lista ul li {
        margin-top: 10px;
        margin-bottom: 10px; /*margin-left: 13px;*/
        padding-left: 13px;
        line-height: 1.3;
        background: url("../images/cards/cards_bullet.png") no-repeat 0 5px;
    }

    .texto ul ul li {
        background-image: url("../images/avion.png");
        background-repeat: no-repeat;
        background-position: left 4px;
        padding-left: 25px;
        padding-top: 5px;
        margin-left: -10px;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .texto ul li p {
        line-height: 1.70 !important;
    }

.avion {
    background: url("../images/flightboard/flightboard_bg2.png") no-repeat;
    width: 629px;
    height: 514px;
    float: left;
    padding-left: 18px;
    padding-top: 18px;
    position: relative;
}

.aviBox {
    height: 77px;
    width: 602px;
    margin-bottom: 5px;
    background: #1e1f1f;
    padding: 5px 3px;
    display: block;
    color: #e8e8e8;
}

    .aviBox img {
        float: left;
        margin-right: 20px;
    }

    .aviBox h1 {
        color: #ffcc00;
        font-size: 23px;
        font-family: 'Flexo-Light';
        font-size: 30px;
        line-height: 40px;
    }

    .aviBox h3 {
        font-family: 'Flexo-Light';
        font-size: 13px;
    }

.texto p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.aviBox.pull-left {
    width: 271px;
}

.aviBox.pull-right {
    width: 307px;
    margin-right: 19px;
}

.aviBox.pull-left, .aviBox.pull-right {
    height: 28px;
    padding-left: 10px;
    line-height: 28px;
    font-family: 'Flexo-Light';
    font-size: 14px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.newline {
    clear: both;
    padding-top: 5px;
}

.letter {
    display: block;
    width: 28px;
    position: relative;
    height: 46px;
    float: left;
    margin-right: 4px;
}

    .letter span {
        font-family: 'Flexo-Light';
        font-size: 23px;
    }

.letterlong {
    width: 160px;
    position: relative;
    height: 46px;
    float: left;
    font-family: 'Flexo-Light';
    font-size: 20px;
    text-align: center;
    color: #ffcc00;
    background: url("../images/flightboardlong.png") no-repeat;
    letter-spacing: -1px;
}

.letterpadding {
    display: block;
    margin-top: 11px;
}

.flightboardline {
    margin-top: 5px;
}

.letterwhite {
    color: #FFFFFF;
}

.letteryellow {
    color: #ffcc00;
}

.fliptext {
    float: left;
}

.h1naranja {
    font-family: 'Flexo-Bold' !important;
    font-size: 23px !important;
    color: #ff4f00 !important;
    display: inline-block;
}

.lista section section {
    float: left;
    font-size: 14px;
    width: 25%;
    margin: 20px 0px 20px 0px;
    border-right: 1px solid #DADADA;
}

    .lista section section div {
        padding-right: 10px;
        padding-left: 10px;
    }

    .lista section section p {
        font-family: 'Flexo-Italic';
        font-size: 14px;
        margin-top: 20px;
        line-height: 1.3;
    }

.lista .first {
    min-height: 170px;
}

.lista .last {
    min-height: 150px;
}

.bulletreqs li {
    background: none !important;
}

.lista h3 {
    font-family: 'Flexo-Regular';
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #474747;
}

.lista {
    margin-top: 30px; /*margin-left: 10px;*/
    margin-left: -5px;
    padding-right: 20px;
}

.lastsec {
    border-right: none !important;
    padding-right: 0px !important;
    width: 24% !important;
}

.home {
    max-width: 980px !important;
    min-width: 980px !important;
    padding: 20px !important;
}

.banners {
    float: right;
    width: 314px;
}

label.error {
    color: #dd0a0a;
    font-size: 11px;
    display: none;
    margin-top: 10px;
    float: left;
}

.banners a {
    margin-bottom: 15px;
}

.message {
    z-index: 999999;
    width: 508px;
    height: 264px;
    background: #FFFFFF;
    position: absolute; /*top:385px; 	left:385px;*/ /*margin: 0 auto;*/
    padding: 4px;
    top: 25%;
    left: 50%;
    margin-left: -266px;
    border-radius: 5px;
}

.messagebig {
    height: 350px;
}

.messagesmall {
    height: 205px;
}

.modal {
    display: none;
    z-index: 999998;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    min-width: 1020px;
    min-height: 1273px; /*width: 100%; 	height: 100%;*/
    overflow: auto;
    background: rgba(0,0,0,0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000); /* IE6 & 7 */
    zoom: 1;
}

.ModalClose {
    float: right;
    padding-right: 5px;
    cursor: pointer;
}

.active {
}

.hidden {
    display: none;
}

.banner1 {
    width: 314px;
    height: 145px;
    background: url("../images/home/home_banner1.png") no-repeat;
    margin-bottom: 20px;
}

.banner2, .banner4 {
    width: 314px;
    height: 147px;
    background: url("../images/home/home_banner2.png") no-repeat;
    margin-bottom: 20px;
}

.banner4 {
    background: url("../images/home/home_banner4.jpg") no-repeat;
}

    .banner4 a {
        width: 122px;
        height: 28px;
        background: url("../images/home/home_buttonbanner4.png") no-repeat;
        background-position: 0px 0px;
        text-decoration: none;
        display: inline-block;
        margin-top: 92px;
        margin-left: 172px;
    }

        .banner4 a:hover {
            background-position: 0px -38px;
        }

.banner3 {
    width: 314px;
    height: 181px;
    background: url("../images/home/banner3.png") no-repeat;
    margin-bottom: 20px;
    padding-top: 40px;
    position: relative;
}

.btnbanner1 {
    text-decoration: none;
    background: url("../images/home/home_buttonbanner1.png") no-repeat bottom;
    width: 114px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 78px;
    margin-left: 20px;
}

    .btnbanner1:hover, .btnbanner1:focus {
        background: url("../images/home/home_buttonbanner1.png") no-repeat top;
    }

.btnbanner2 {
    text-decoration: none;
    background: url("../images/home/home_buttonbanner2.png") no-repeat bottom;
    width: 144px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 94px;
    margin-left: 23px;
}

    .btnbanner2:hover, .btnbanner2:focus {
        background: url("../images/home/home_buttonbanner2.png") no-repeat top;
    }

.btnbanner3 {
    text-decoration: none;
    background: url("../images/home/home_buttonbanner3.png") no-repeat bottom;
    width: 79px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin-top: 6px;
}

    .btnbanner3:hover, .btnbanner3:focus {
        background: url("../images/home/home_buttonbanner3.png") no-repeat top;
    }

.credito {
    width: 680px;
    border-right: 1px solid #CDCDCD;
    float: left;
}

.debito {
    float: right;
}

.contentb {
    padding: 33px 20px 20px 40px !important;
    min-height: 530px;
}

.image {
    float: right;
    position: relative;
    top: -25px;
    right: 20px;
    display: block;
}

.tarjetasform {
    width: 932px;
    margin: 0 auto;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 20px auto 20px -15px;
    padding: 20px;
    color: #727272;
    font-family: 'Flexo-Bold';
    overflow:hidden;

}

#frmSolicitud fieldset {
    margin-top: 15px;
    position: relative;
    font-family: "Flexo-Regular";
}

#frmSolicitud input[type="text"] {
    height: 35px;
    width: 350px;
    line-height: 25px;
    float: left;
    font-family: "Flexo-Regular";
    font-size: 15px;
}

#frmSolicitud select {
    height: 41px;
    width: 360px;
    line-height: 25px;
    float: left;
    font-family: "Flexo-Regular";
    font-size: 15px;
}

.btnsubmit {
    text-decoration: none;
    background: url("../images/home/home_buttonbanner1.png") no-repeat bottom;
    width: 114px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    font-family: 'Flexo-Regular';
    font-size: 14px;
}

    .btnsubmit:hover, .btnsubmit:focus {
        background: url("../images/home/home_buttonbanner1.png") no-repeat top;
    }

.formcardpick section.bbgray {
    border-bottom: 1px dashed #B8B8B8;
    height: auto;
    overflow: hidden;
    padding: 1em 0;
}

.formcardpick section.last {
    border-bottom: none;
}

.formcardpick section section {
    float: left;
    font-size: 14px;
    font-family: "flexo-regular";
    width: 45%;
    margin-top: 20px;
    margin-left: 25px;
    text-align: center;
}

#frmSolicitud input[type="radio"] {
    vertical-align: baseline;
    margin-left: -15px;
    font-family: 'Flexo-Italic';
    font-size: 14px;
}

.spanradio {
    font-family: 'Flexo-Light';
    font-size: 11px;
}

.popupbox {
    background: #e2e2e2;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.popuptitle {
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
}

.popupttext1 {
    padding-left: 45px;
    padding-top: 10px;
    padding-right: 45px;
    line-height: 25px;
}

.popupttext2 {
    padding-left: 45px;
    padding-top: 15px;
    padding-right: 45px;
    line-height: 15px;
}

.popupttext3 {
    padding-left: 45px;
    padding-top: 20px;
    padding-right: 45px;
    line-height: 13px;
}

.cardsasktext {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    font-family: 'Flexo-Italic';
    font-size: 23px;
    color: #474747;
    line-height: 75px;
    display: inline-block;
    float: left;
    width: 580px;
}

.promobg {
    width: 982px;
    height: 655px;
    margin: 0 auto;
    background: url("../images/promo/promo_image1.jpg") no-repeat;
    color: #FFF;
}

.promotdp {
    width: 982px;
    height: 665px;
    margin: 0 auto;
    background: url("../images/promo/bg-landing-tpd.jpg") no-repeat;
    color: #FFF;
}

    .promotdp .promobannertpd {
        width: 360px;
        height: 302px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        background: none;
        margin-top: 261px;
        margin-right: 64px;
    }

        .promotdp .promobannertpd h1 {
            font-family: Flexo-Regular;
            font-size: 24px;
            color: #FFFFFF;
            margin-bottom: 30px;
            line-height: 26px;
            padding-bottom: 0px;
        }

            .promotdp .promobannertpd h1 strong {
                font-family: 'Flexo-Bold';
            }

        .promotdp .promobannertpd p {
            font-family: Flexo-Regular;
            color: #FFFFFF;
            font-size: 12px;
            line-height: 16px;
        }

        .promotdp .promobannertpd .btnInscribete {
            width: 154px;
            height: 39px;
            background: url("../images/promo/bg-btninscribete.png") no-repeat;
            margin: 48px 0 0 0;
        }


.promoamexbg {
    width: 982px;
    height: 970px;
    margin: 0 auto;
    background: url("../images/promo/bg-landing-lanpass-ae.jpg") no-repeat;
    color: #FFF;
}

.promo-usala {
    width: 982px;
    margin: auto;
    display: block;
}

    .promo-usala .intern-tpd {
        position: relative;
        width: 982px;
        height: 653px;
        background: url('../images/bg-landing-x5.jpg') no-repeat;
    }

    .promo-usala h1 {
        width: 500px;
        font-family: 'flexoregular';
        font-size: 21px;
        font-weight: normal;
        line-height: 21px;
        padding-bottom: 15px;
        text-align: justify;
        /*border-bottom: 1px dotted #fff;*/
    }

    .promo-usala p {
        font-size: 11px;
        line-height: 16px;
    }

    .promo-usala .legal {
        font-size: 11px;
        background: #FFF;
        color: #383636;
        width: 942px;
        padding: 10px 20px 10px 20px;
        text-align: justify;
        letter-spacing: -0.5px;
        line-height: 13px;
    }

    .promo-usala .note {
        width: 330px;
        height: 250px;
        position: relative;
        top: 155px;
        left: 585px;
        z-index: 50;
        color: #FFFFFF;
    }

    .promo-usala .btn-suscribete {
        display: block;
        width: 137px;
        height: 22px;
        background: url('../images/slider/btn-inscribete.jpg') no-repeat;
        margin: 45px 0 0 170px;
    }

.promo-navidad-2014 {
    width: 982px;
    margin: auto;
    display: block;
}

    .promo-navidad-2014 .intern-tpd {
        position: relative;
        width: 982px;
        height: 928px;
        background: url('../images/promo/bg-landing-navidad-2014.jpg') no-repeat;
    }

    .promo-navidad-2014 h2 {
        width: 500px;
        font-family: 'FlexoMedium';
        font-size: 35px;
        font-weight: normal;
        line-height: 37px;
        padding-bottom: 15px;
        text-align: justify;
        /*border-bottom: 1px dotted #fff;*/
    }

    .promo-navidad-2014 p {
        font-size: 11px;
        line-height: 16px;
    }

.legal-navidad {
    padding: 5px 5px;
    width: 963px;
}

.promo-navidad-2014 .legal {
    /*font-size: 11px;*/
    background: #FFF;
    /*color: #383636;*/
    /*width: 942px;*/
    width: 962px;
    /*padding: 10px 20px 10px 20px;
        text-align: justify;
        letter-spacing: -0.5px;
        line-height: 13px;  */
    margin: 6px 0 1em 0;
}

    .promo-navidad-2014 .legal p {
        font-size: 10px !important;
        line-height: 1.4 !important;
        text-align: justify;
        color: #000;
        font-family: 'Flexo-Regular';
    }

.promo-navidad-2014 .note {
    width: 380px;
    height: 305px;
    position: relative;
    top: 550px;
    left: 165px;
    z-index: 50;
    color: #FFFFFF;
}

.promo-navidad-2014 ul.bullet2 {
    list-style-image: url('../images/vineta_g.jpg');
}

.promo-navidad-2014 .btn-suscribete {
    display: block;
    width: 218px;
    height: 42px;
    background: url('../images/promo/btn-inscribete2.jpg') no-repeat;
    margin: -22px 0 0 435px;
}

.promo-septiembre-2015 {
    width: 982px;
    margin: auto;
    display: block;
}

    .promo-septiembre-2015 .intern-tpd {
        position: relative;
        margin-top: 21px;
        width: 982px;
        height: 565px;
        background: url('../images/promo2015septiembre/landing-bg.jpg') no-repeat;
    }

    .promo-septiembre-2015 h2 {
        width: 500px;
        font-family: 'FlexoMedium';
        font-size: 35px;
        font-weight: normal;
        line-height: 37px;
        padding-bottom: 15px;
        text-align: justify;
    }

    .promo-septiembre-2015 p {
        font-size: 11px;
        line-height: 16px;
    }

.legal-septiembre-2015 {
    padding: 5px 10px;
    width: 962px;
}

.promo-septiembre-2015 .legal {
    /*font-size: 11px;*/
    background: #FFF;
    /*color: #383636;*/
    /*width: 942px;*/
    width: 962px;
    /*padding: 10px 20px 10px 20px;
        text-align: justify;
        letter-spacing: -0.5px;
        line-height: 13px;  */
    margin: 6px 0 1em 0;
}

    .promo-septiembre-2015 .legal p {
        font-size: 10px !important;
        line-height: 1.4 !important;
        text-align: justify;
        color: #000;
        font-family: 'Flexo-Regular';
    }

.promo-septiembre-2015 .note {
    width: 380px;
    height: 305px;
    position: relative;
    top: 75px;
    left: 480px;
    z-index: 50;
    color: #FFFFFF;
}

.promo-septiembre-2015 ul.bullet2 {
    list-style-image: url('../images/vineta_g.jpg');
}

.promo-septiembre-2015 .btn-suscribete {
    display: block;
    width: 218px;
    height: 42px;
    background: url('../images/promo2015septiembre/landing-bt-Inscribite.png') no-repeat;
    position: absolute;
    left: 35px;
    top: 336px;
    z-index: 60;
}

.btn-return {
    color: #00367E;
    font-family: 'flexoitalic';
    display: inline-block;
    width: 112px;
    height: 25px;
    line-height: 25px;
    background: url('../images/btn-regresar.png') no-repeat;
    text-align: center;
    font-size: 12px;
    position: absolute;
    z-index: 20;
    top: 30px;
    left: 25px;
    font-weight: bold;
}

.btn-suscribe {
    background-position: -3px -42px;
    width: 187px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-family: 'flexoitalic';
    color: #00367E;
    font-weight: bold;
    position: relative;
}

.promobanner {
    width: 433px;
    height: 322px;
    float: right;
    background: url("../images/promo/promo_image2.png") no-repeat;
    padding-top: 46px;
    padding-left: 60px;
    margin-top: 90px;
    margin-right: 0px;
    position: relative;
}

.promobanneramex {
    width: 307px;
    height: 305px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 310px;
    left: 525px;
    background: none;
    font-family: "flexo-regular";
}

    .promobanneramex p {
        font-size: 26px;
        line-height: 34px;
        text-align: justify;
    }

        .promobanneramex p strong {
            font-size: 24px !important;
            font-family: 'Flexo-bold' !important;
        }

    .promobanneramex .textBold {
        text-align: left !important;
        font-family: 'Flexo-bold';
        font-size: 35px !important;
        line-height: 38px !important;
    }

.promoamex_tarjetas {
    width: 354px;
    height: 94px;
    line-height: 94px;
    background: url("../images/promo/promoamex_tarjetas.png") no-repeat;
    display: block;
    position: absolute;
    left: 45px;
    bottom: 75px;
}

.promobanneramex .btnInscribete {
    float: inherit;
    position: absolute;
    left: 45px;
    bottom: 30px;
    margin: 0;
}

.promobanner hr {
    border: 1px dashed #FFF;
}

.promolegal {
    width: 942px;
    margin: 0 auto;
    background-color: #656565;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    font-family: 'Flexo-Regular';
    font-size: 11px;
    color: #CCCCCC;
    text-align: justify;
    line-height: 120%;
}

.objstamp {
    background: url('../images/promo/stampx4.png') no-repeat;
    width: 188px;
    height: 186px;
    position: absolute;
    bottom: -105px;
    right: 51px;
}

.btnInscribete {
    display: block;
    width: 155px;
    height: 39px;
    float: left;
    background: url('../images/promo/bg-btninscribete.png') no-repeat top left;
    margin-top: 27px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/promo/bg-btninscribete.png',sizingMethod='crop');
}

    .btnInscribete:hover {
        /*haz el over !!*/
    }

.promobg_escolar {
    width: 982px; /*height: 615px;*/
    height: 856px;
    margin: 0 auto;
    background: url("../images/promo/bg_escolar.jpg") no-repeat;
    color: #FFF;
}

.escolar_content {
    width: 372px;
    height: 615px;
    padding: 0 0 0 10px;
    position: relative; /*background: #ff0;*/
}

.logo_escolar {
    display: block;
    margin: 0 0 35px 0;
    padding-top: 25px;
}

.tit_escolar {
    font-family: 'Flexo-Light';
    color: #FF4F00;
    font-size: 37px;
}

.linea_naranja {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 6px solid #FF4F00;
    margin: 30px 0 20px 0;
    width: 80px;
}

.text_escolar {
    font-family: 'Flexo-Light';
    font-size: 15px;
    color: #323a46;
    line-height: 19px;
}

.img_tarjetas {
    display: block;
    margin: 30px 0 15px 0;
    background: url(../images/promo/tarjetas-estrella.png) no-repeat;
    width: 372px;
    height: 120px;
}
/*.btnInscribete*/
.btn_insescolar {
    display: block;
    width: 138px;
    height: 36px;
    float: right;
    color: #fff;
    font-family: 'Flexo-Regular';
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    background: url('../images/promo/btn_ins_escolar.png') 0px 0px no-repeat;
    margin-top: 27px;
    cursor: pointer;
}

    .btn_insescolar:hover {
        background: url('../images/promo/btn_ins_escolar.png') 0px -36px no-repeat;
        color: #fff;
        text-decoration: none;
    }


.promolegal_escolar {
    width: 942px;
    height: 210px;
    margin: 0 auto;
    background-color: #E9E8E6;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Flexo-Regular';
    font-size: 11px;
    color: #595959;
    text-align: justify;
    line-height: 120%;
    border-top: 6px solid #C5C5C7;
}

.promobtn {
    background: url("../images/promo/promo_buttonback.png") 0px bottom no-repeat;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    margin-top: 21px;
    margin-left: 18px;
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color: #000068;
    padding-left: 12px;
    font-weight: bold;
}

    .promobtn:hover, .promobtn:focus {
        background: url("../images/promo/promo_buttonback.png") no-repeat;
    }


.tooltip {
    font-family: 'Flexo-Light';
    font-size: 11px;
    color: #FFFFFF;
    float: left;
    display: block;
    padding-left: 18px;
    padding-top: 7px;
    visibility: hidden;
}

.ttimage1 {
    background: url("../images/form/form_tooltipname.png") no-repeat;
    width: 206px;
    height: 26px;
}

.ttimage2 {
    background: url("../images/form/form_tooltipphone.png") no-repeat;
    width: 273px;
    height: 26px;
}

.ttimage3 {
    background: url("../images/form/form_tooltipdni.png") no-repeat;
    width: 286px;
    height: 26px;
}

.ttimage4 {
    background: url("../images/form/form_tooltipsueldo.png") no-repeat;
    width: 325px;
    height: 26px;
}

.ttimage5 {
    background: url("../images/form/form_tooltipingreso.png") no-repeat;
    width: 399px;
    height: 26px;
}

.faustinobtn {
    background: url("../images/promo/promo_buttonback.png") 0px bottom no-repeat;
    height: 31px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    width: 91px;
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color: #000068;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 40px;
    margin-left: 38px;
    padding-left: 2px;
}

    .faustinobtn:hover, .faustinobtn:focus {
        background: url("../images/promo/promo_buttonback.png") no-repeat;
    }

.fb-like {
    overflow: hidden;
}

.markinput {
    border: 2px solid #ff4f00 !important;
}

#selectDocType {
    position: absolute;
}

#selectDocType2 li {
    cursor: pointer;
    display: list-item;
    width: 280px;
    height: 30px;
    border: 1px solid #aeaeae;
    line-height: 30px;
    background-color: #FFFFFF;
    padding-left: 8px;
}

#selectDocType li {
    cursor: pointer;
    display: list-item;
    width: 135px;
    height: 26px;
    border: 1px solid #aeaeae;
    line-height: 28px;
    background-color: #FFFFFF;
    padding-left: 8px;
}

    #selectDocType li span, #selectDocType2 li span {
        float: left;
    }

    #selectDocType li.unselected, #selectDocType2 li.unselected {
        display: none;
    }
/* #selectDocType:hover li, */ .unselected:hover {
    background: #FF4F00 !important;
    color: white;
}

.comboselect {
    background: url("../images/home/comboarrow.png") no-repeat;
    width: 29px;
    height: 29px;
    float: right;
}

.comboselect2 {
    background: url("../images/home/comboarrow.png") no-repeat;
    width: 29px;
    height: 29px;
    float: right;
    margin-top: 4px;
}

.inputDoc {
    width: 135px;
    height: 26px;
    border: 1px solid #aeaeae;
    vertical-align: middle;
    font-family: 'Flexo-Light-Italic';
    background-color: #FFFFFF;
    padding-left: 8px;
    margin-top: 38px;
}

.inputDocerror {
    visibility: hidden;
    margin-top: 6px;
    height: 11px;
}

.Doc {
    position: absolute;
    left: 23px;
}

.forminputtext {
    padding-left: 8px;
    outline: none;
    box-shadow: 0 0 1px #AEAEAE inset;
    border: 1px solid #AEAEAE;
}

    .forminputtext:focus {
        border-color: #1fc2ff;
    }

    .forminputtext::-webkit-input-placeholder {
        font-family: 'Flexo-Regular';
        font-size: 15px;
        color: #727272;
    }

    .forminputtext:-moz-placeholder {
        /* Firefox 18- */
        font-family: 'Flexo-Regular';
        font-size: 15px;
        color: #727272;
    }

    .forminputtext::-moz-placeholder {
        /* Firefox 19+ */
        font-family: 'Flexo-Regular';
        font-size: 15px;
        color: #727272;
    }

    .forminputtext:-ms-input-placeholder {
        font-family: 'Flexo-Regular';
        font-size: 15px;
        color: #727272;
    }

.forminputselect {
    padding-left: 8px;
    outline: none;
    box-shadow: 0 0 1px #AEAEAE inset;
    border: 1px solid #AEAEAE;
}

    .forminputselect:focus {
        border-color: #1fc2ff;
    }

    .forminputselect::-webkit-input-placeholder {
        font-family: 'Flexo-Regular';
        font-size: 15px;
        color: #727272;
    }

    .forminputselect:-moz-placeholder {
        /* Firefox 18- */
        font-family: 'Flexo-Regular';
        font-size: 15px;
        color: #727272;
    }

    .forminputselect::-moz-placeholder {
        /* Firefox 19+ */
        font-family: 'Flexo-Regular';
        font-size: 15px;
        color: #727272;
    }

    .forminputselect:-ms-input-placeholder {
        font-family: 'Flexo-Regular';
        font-size: 15px;
        color: #727272;
    }

.inputDoc::-webkit-input-placeholder {
    font-family: 'Flexo-Light-Italic';
    font-size: 11px;
    color: #a6a6a6;
}

.inputDoc:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Flexo-Light-Italic';
    font-size: 11px;
    color: #a6a6a6;
}

.inputDoc::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Flexo-Light-Italic';
    font-size: 11px;
    color: #a6a6a6;
}

.inputDoc:-ms-input-placeholder {
    font-family: 'Flexo-Light-Italic';
    font-size: 11px;
    color: #a6a6a6;
}

.lista p, .lista li, .lista div {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.fixwidth {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.Mainflights, .vIE {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 610px;
}

.vIE {
    display: none;
}

.Pagflights {
    text-align: center;
    font-size: 14px;
    top: 480px;
    position: absolute;
    width: 100%;
    font-family: Flexo-Light;
    display: none;
}

    .Pagflights a {
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
    }

        .Pagflights a.activo {
            color: #ffcc00;
            font-family: "Flexo-Regular";
        }

        .Pagflights a:hover {
            color: #ffcc00;
        }

.arrow-prev, .arrow-next {
    position: absolute;
    bottom: 38px;
    text-decoration: none;
    background: url('../images/arrows-flight.png') no-repeat;
    width: 72px;
    height: 14px;
    display: none;
}

.arrow-prev {
    background: url('../images/arrows-flight.png') no-repeat 0px left;
    left: 20px;
}

    .arrow-prev:hover {
        background-position: left\0/ -20px\0/;
        background-color: transparent;
        background-image: url('../images/arrows-flight.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

.arrow-next {
    background-position: right\0/ 50%;
    right: 20px;
    background-color: transparent;
    background-image: url('../images/arrows-flight.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
}

    .arrow-next:hover {
        background-position: right\0/ -20px\0/;
        background-color: transparent;
        background-image: url('../images/arrows-flight.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

.inputerrorimage {
    display: none;
    position: absolute;
    background: url("../images/box_error_icon.jpg") no-repeat;
    width: 13px;
    height: 13px;
    left: 330px;
    top: 12px;
}

.inputcheckimage {
    display: none;
    position: absolute;
    background: url("../images/box_ok_icon.jpg") no-repeat;
    width: 13px;
    height: 13px;
    left: 330px;
    top: 12px;
}

.intern {
    position: relative;
    width: 982px;
    height: 655px;
    background: url('../images/promodiadelamadre/bg-landing.jpg');
}

    .intern .promobtn {
        position: absolute;
        top: 0;
        left: 0;
    }

.sprite {
    background-image: url('../images/promodiadelamadre/sprite.png');
}

.note {
    width: 480px;
    height: 460px;
    position: relative;
    top: 72px;
    left: 483px;
    z-index: 50;
    background-position: -1px -101px;
    color: #FFFFFF;
}

.tip {
    color: #00367E;
    position: relative;
    width: 174px;
    text-align: center;
    height: 154px;
    float: right;
}

    .tip p {
        font-size: 17px;
        font-family: "flexo-regular";
        line-height: 20px;
        margin: 16px 0 0;
        font-weight: bold;
    }

    .tip b {
        font-size: 70px;
        font-weight: 700;
        font-family: "flexo-regular";
    }

/*.msg
{
    position: relative;
    top: -21px;
    padding: 0 30px;
}
.msg h1
{
    font-size: 32px;
    font-family: "flexo-regular";
}
.msg h2
{
    font-family: "flexo-regular";
    font-size: 46px;
}
.msg h3
{
    font-size: 20px;
    font-family: 'Flexo-Italic';
    margin: 87px 0 0;
}
.msg h4
{
    font-size: 12px;
    font-family: 'Flexo-Italic';
    margin: 0 0 6px;
}*/

.btn-suscribe {
    width: 125px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    font-family: 'Flexo-Italic';
    color: #00367E;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    background: url('../images/promodiadelamadre/btn-send.png') no-repeat;
    font-size: 12px;
    top: 176px;
}

.btn-suscribe_home {
    width: 192px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-family: 'Flexo-Italic';
    color: #00367E;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    background: url('../images/promodiadelamadre/sprite.png') -316px -1px no-repeat;
    font-size: 16px;
    top: 202px;
}

.promolanpass #cboxTopLeft {
    background: transparent;
}

.promolanpass #cboxTopCenter {
    background: transparent;
}

.promolanpass #cboxTopRight {
    background: transparent;
}

.promolanpass #cboxBottomLeft {
    background: transparent;
}

.promolanpass #cboxBottomCenter {
    background: transparent;
}

.promolanpass #cboxBottomRight {
    background: transparent;
}

.promolanpass #cboxMiddleLeft {
    background: transparent;
}

.promolanpass #cboxMiddleRight {
    background: transparent;
}

.promolanpass #cboxContent {
    background: transparent;
}

.promolanpass .cboxIframe {
    background: transparent;
}

.promolanpass #cboxClose {
    right: 30px;
    top: 10px;
    background: url('../images/btnClose.png') no-repeat;
}

.benefits_foottext {
    margin-bottom: 20px;
    line-height: 1.2;
}

.titulo_navbar {
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
}


.btnpideloaqui {
    text-decoration: none;
    background: url("../images/home/home_buttonbanner1.png") no-repeat bottom;
    width: 114px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Flexo-Italic';
    font-size: 14px;
    display: inline-block;
    margin-top: 21px;
}

    .btnpideloaqui:hover, .btnpideloaqui:focus {
        background: url("../images/home/home_buttonbanner1.png") no-repeat top;
    }

.fieldset-form {
    /*width: 45%;
    /*display: inline;
    float:left;*/
}
