.ContentPromo {
	padding-right: 18px;
}
.ContentFaustino {
	padding-right: 17px;
}
.ContentFaustino iframe{
	overflow:hidden;
}
.content{
	width: 1280px;
	margin: 0 auto;
}/*
.footer{
	width: 1010px;
}*/
.promobanner{
	background: url("../images/promo/promo_image2ie6.png") repeat;
}
.forminputtext{
	height: 25px;
	width: 230px;
	line-height: 25px;
	float:left;
	color: #727272;
}
.modal{
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA000000', endColorstr='#AA000000');
	position:absolute;
	width: 100%;
	height:1273px;
}
.home{
	width: 980px;
}
.bannerSlide{
    width: 520px;
    height: 134px;
	background: url("../images/slider/bannersliderbgie6.png") repeat;
    padding: 20px 20px 20px 30px;
    margin-top: 40px;
    right: 0;
    position: absolute;
}
.bnr1 {
    background: url('../images/slider/banner01.jpg') no-repeat;
}
.bnr2 {
    background: url('../images/slider/banner02.jpg') no-repeat;
}
.bnr3{
    background: url('../images/slider/banner03.jpg') no-repeat;
}
.btnPagSlide{
	background: url("../images/slider/pageSliderie6.png") no-repeat;
}
a.btnPagSlide.active{
	background: url("../images/slider/pageSlider_hoverie6.png") no-repeat;
}
.flightboardline {
    margin-top: 2px;
}
.arrow-prev, .arrow-next {
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    line-height:10px;
    outline: none;
    background: url('../images/arrows-flight.png') no-repeat;
    width: 72px;
    height: 10px !important;
    display: none;
    margin: 0px;
    padding: 0px;
}
.arrow-prev {
    left: 20px;
    background-position: 0px left;
}
.arrow-prev:hover {
    background-position: -20px left;
}
.arrow-next {
    right: 30px;
    background-position: 0px right;
}
.arrow-next:hover {
    background-position: -20px right;
}

.inputerrorimage, .inputcheckimage {
    left: 200px;
}
.btnRegresar {
    margin-right: 15px;
}
.tarjetas {
    margin: 20px 0px 20px -15px;
    padding: 20px;
}
.lista{
    margin-left: -20px;
}
.bulletreqs {
    list-style: none !important;
}
.objstamp  {
    width:186px;
    height:184px;
    background: url(../images/promo/stampx4.png) no-repeat;
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/promo/stampx4.png',sizingMethod='crop');
}
#cboxClose {
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/btnClose.png',sizingMethod='crop');
}
.img_tarjetas {
    display: block;
    margin: 30px 0 15px 0;
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/promo/tarjetas-estrella.png',sizingMethod='crop');
    width: 372px;
    height: 120px;
}
.tit_escolar {
    font-size: 33px;
}
.btn_insescolar{
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/promo/btn_ins_escolar.png',sizingMethod='crop');
}
.btn_insescolar:hover{
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/promo/btn_ins_escolar.png',sizingMethod='crop');
    background-position: 0px -36px;
}
.btn2 {
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/slider/btn_pescolar.png',sizingMethod='crop');
    cursor: pointer;
}
.btn2:hover {
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/slider/btn_pescolar.png',sizingMethod='crop');
    background-position-x: -36px;
    background-position-y: 0px;
    visibility: visible;
}
.image.image-km{right: 0 !important;}

.banner3{float: left;background: #fff;zoom:1;}
.Doc{margin: 0 0 0 12px;zoom: 1;background: #ccc;zoom:1;width: 150px;height: 100px;}
#selectDocType{position: relative;left: 0;top: 0;background: #f0f;}