/*.promobanner{
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/promo/promo_image2.png',sizingMethod='crop');
}
.btnPagSlide{
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/slider/pageSlider.png',sizingMethod='crop');
}
a.btnPagSlide.active{
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/slider/pageSlider_hover.png',sizingMethod='crop');
}
.bannerSlide{
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/slider/bannersliderbg.png',sizingMethod='crop');
}*/
/*
.transIE { behavior: url("../iepngfix/iepngfix.htc") }
*/
.modal{
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA000000', endColorstr='#AA000000');
	display: none;
	z-index: 999998;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 500px;
	left: 0px;
	width: 100%;
	height: 100%;
	*/
}
.modal2{
	display: none;
	z-index: 999995;
	background-color:#000000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA000000', endColorstr='#AA000000');*/
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;	
	min-width: 1020px;
	min-height:1273px;
	/*width: 100%;
	height: 100%;*/
	overflow:auto;
}
.ContentPromo {
	width: 960px;
	padding-right: 40px;
}
.contentb{
	padding: 33px 0px 20px 40px !important;
}
.header{
	width: 100%;
}
.content{
	width: 100%;
	margin: 0 auto;
}
.contentwrap{
	width: 980px;
	margin: 0 auto;
}
.headContent{
	width: 100%;
	background: #F7F7F7;
	 /* IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */ filter: alpha(opacity=80);
}
.Content{
	width: 980px;

}
.ContentFaustino{
	width: 980px;

}
.footer{
	width: 990px;
}

nav ul li a{
	display: block;
	text-decoration: none;
	padding: 0 10px;
	color:#FFFFFF;
}
.navbar ul>li>a:hover, .navbar ul>li>a:focus {
	height: 37px;
}
nav ul li{
	float: left;
	display: block;
}
nav ul{
	float: right;
}
nav{
	background: url("../images/header.png") repeat-x;
	line-height: 37px;
	height: 37px;
	width: 1280px;
	margin:0 auto 5px auto;
}
.navbar .active{
	background: url("../images/buttonbg.jpg") repeat-x;
	height: 37px;
}
.inputDoc{
line-height: 28px;
}
.flightboardline {
    margin-top: 2px;
}
.btnRegresar {
    margin-right: 20px;
}
.lista{
    margin-left: -20px;
}
.tit_escolar {
    font-size: 33px;
}

