@charset "utf-8";
/**
* @description	Standard Layout
* @author		Francisco Cordova
* @version		1.0
*/

body{
	color: #5a565c;
}
header, footer{
	background: #000e67;
}
header,section,footer{
	width: 100%;
	min-width: 1024px;
}
header{
	height: 62px;
}
header img{
	float: right;
}

section{
	background: url("../images/bg.jpg") center center;
}
section #cont{
	width: 984px;
	margin: 0 auto;
	padding: 15px 20px 20px;
	overflow: hidden;
}
section #cont .redes{
	float: right;
}
section #cont .redes .facebook, section #cont .redes .twitter, section #cont .redes .fb-megusta{
	float: left;
	margin-right: 5px;
}
section form{
	width: 510px;
	margin: 58px auto 0;
	color: #5a565c;
	font-size: 14px;
	line-height: 15px;
}
section form h1, section form h2, section form h3{
	margin-bottom: 20px;
}
section form p{
	margin-bottom: 20px;
}

section form .left{
	float: left;
	width: 50%;
}
section form .right{
	float: right;
	width: 50%;
}
section form .left p, section form .right p{
	margin-bottom: 5px;
	float: left;
}
section form .left label, section form .right label{
	display: block;
	float: left;
	width: 80%;
	background: url("../images/bullet.png") no-repeat 5px 9px;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 8px;
}
section form .left input[type="text"], section form .right input[type="text"]{
	width: 214px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #cacaca;
	padding-left: 10px;
    padding-right: 10px;
    background: url("../images/bg-input.jpg") repeat-x;
    font-family: Arial;
    color: #5a565c;
    font-size: 12px;
}
section form .left input[type="text"].errorInput, section form .right input[type="text"].errorInput, #sel_cboTipDoc.errorInput{
    border: 1px solid #fd5e17;
}
#sel_cboTipDoc.jqTransformSelectWrapper{
    width: 235px !important;
}
section form .right #btnGrabar{
	width: 101px;
	height: 45px;
	background: url("../images/btn-enviar.png") no-repeat top left;
	border: none;
	cursor: pointer;
	margin-top: 18px;
	margin-bottom: 13px;
	display: block;
}
section form .right #btnGrabar:hover{
	background: url("../images/btn-enviar.png") no-repeat bottom left;
}
section form .right .error{
	width: 240px;
	height: 30px;
	float: left;
	display: block;
	color: #ff4f00;
	font-size: 12px;
	background: none;
	padding:0;
}
section form .right label.errorvalid, form.jqtransformdone label.errorvalid{
    display:none !important;
}

footer{
	padding-top: 10px;
	padding-bottom: 40px;
}
footer #footer{
	width: 1024px;
	margin: 0 auto;
}
footer #footer p{
	font-size: 11px;
	line-height:12px;
	font-family: Arial;
	text-align:justify;
	color: #fff;
	padding-left: 17px;
	padding-right: 17px;
}

/* jqForm Estilos */
form.jqtransformdone label{margin-right:10px;display:block;float:left;}
form.jqtransformdone div.rowElem{clear:both;padding:4px 0;}
.jqTransformSelectWrapper{
	position:relative;
	height:27px;
	float:left;
	background: url("../images/bg-input.jpg") repeat-x;
	border: 1px solid #CACACA;
}
.jqTransformSelectWrapper div span{
	float:none;
	position:absolute;
	white-space:nowrap;
	height:27px;
	line-height:27px;
	padding-left:12px;
	overflow:hidden;
	cursor:pointer;
	font-family: Arial;
	color: #5a565c;
	font-size: 12px;
}
.jqTransformSelectWrapper a.jqTransformSelectOpen{
	display:block;
	position:absolute;
	right:0;
	width:25px;
	height:27px;
	background:url("../images/jqtransform/select_right.gif") no-repeat center center;
}
.jqTransformSelectWrapper ul{
	position:absolute;
	left:0;
	list-style:none;
	background:#5A565C;
	display:none;
	width:234px;
	height:110px;
	overflow:auto;
	overflow-y:auto;
	z-index:9999;
	margin:0;
	padding:0;
}
/*.jqTransformSelectWrapper ul li{padding-top:5px;}*/
.jqTransformSelectWrapper ul a{
	display:block;
	text-decoration:none;
	color:#fff;
	padding:0 12px;
	height:27px;
	line-height:27px;
	font-family: Arial;
	font-size: 12px;
}
.jqTransformHidden{
	display:none;
}

.jqTransformSelectWrapper ul a.selected,.jqTransformSelectWrapper ul a:hover,.jqTransformSelectWrapper ul a.selected:hover{background:#2c2c2c;color:#fff;}
