/**
	ufd 0.5: http://code.google.com/p/ufd/
	
	This is the default skin, a plain but attractive dropdown.
*/

span.ufd.plain {
    height: 25px;
    background-color: #B5B8C8; /* http://blog.toolman.geek.nz/2009/12/annoying-ie6-bug-of-day.html */
    box-shadow: 0 0 1px #AEAEAE inset;
    border: 1px solid #AEAEAE;
}

span.ufd.plain-focus {
    background-color: #757888;
    /*border: 1px solid #757888;*/
    border-left: 2px solid #1482AB;
    border-top: 2px solid #1482AB;
    border-right: 2px solid #1FC2FF;
    border-bottom: 2px solid #1FC2FF;
}

.ufd.plain input {
    line-height: 16px !important;
    height: 25px;
    padding: 1px 0 1px 3px;
    border: 0px;
    color: #727272;
    font-family: flexo-regular;
    font-size: 15px;
}

.ufd.plain input.disabled {
	color: #ccc;
    background-color: gray !important;
}

.ufd.plain input.focus {
}

.ufd.plain button {
    width: 18px;
    height: 27px;
    /*background: url(icon.gif) no-repeat 0px 0px;*/
    background: #FFF url(icon_combo.jpg) no-repeat center center;
}

.ufd.plain button.focus {
}


.ufd.plain button.hover {
	/*background-position: -18px 0px;*/
}

.ufd.plain button.mouseDown {
	/*background-position: -36px 0px;*/
}

.ufd.plain button.disabled {
	/*background-position: -54px 0px !important; */
}

/* dropdown */

#ufd-container .plain div.list-scroll {
    border: 1px solid #757888;
    border-top-width: 0px;
    background-color: #FFF;
}

#ufd-container .plain div.list-wrapper-up div.list-scroll {
    border-top-width: 1px;
    border-bottom-width: 0px;
}

#ufd-container .plain li {
    padding: 2px 2px 2px 5px;
    line-height: 19px;
    color: #727272;
    font-family: flexo-regular;
    font-size: 15px;
}

#ufd-container .plain li em {
	font-weight: bold;
	font-style: normal;
}


#ufd-container .plain li.active {
	background-color: #1fc2ff;
	color: #fff;
}

