/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}
a:focus {outline: none;}

/* Project Name: BCP LAN PASS * TIENDA KMS DIA DEL PADRE 2013 - Author: Francisco Fernando Cordova Rios */
html,body{ height: 100%;}
body{background:#03347d url(../images/bk_0.jpg) top center repeat-x;color:#FFF;font-family:Arial;font-size:13px;}
header{background:#006 url(../images/logo.gif) 99% 0 no-repeat;height:62px;position:relative;}
#container {/*border:1px solid #000;*/}
.logo-lanpass{position: absolute; top: 26px; left: 30px; z-index: 9999;}
#wrapper{background:url(../images/bk-navidad-2013.jpg) top center no-repeat;height:726px;position:relative;width:1033px;margin:0 auto;}
#wrapper .box{width:413px; height:302px; background:url(../images/boxwrap.png) no-repeat; position:absolute; top:164px; right:0; padding-top:52px; padding-left:40px; padding-right:40px;}
#wrapper .box #btnInscribete{position:absolute; bottom: 35px; left: 40px;}
#wrapper .box p{ font-size:15px; line-height:20px; color: #fff;}
#wrapper .box p a{color: #f8de00;border-bottom: 1px solid;}
#wrapper .box .stamp{position: absolute; right: 96px; bottom: -34px;}
.not-bg{background:none;}

.cnt-informate{padding: 67px 45px; font-size:24px; background:#ff4f00;}
#btnCerrar{position:absolute; top:15px; right:15px;}

.cnt-restaurant{padding: 50px 47px; font-size:24px; background:#009acf;}
.cnt-restaurant .tabs{width:484px; height:28px; line-height:28px; border-bottom:1px solid #ccebf5; font-size:14px; color:#fff;}
.cnt-restaurant .tabs li{float:left; margin-left:1px;}
.cnt-restaurant .tabs li:first-child{margin:0;}
.cnt-restaurant .tabs li a{color:#fff; background:#007ca6; text-decoration:none; display:block; width:96px; text-align:center;}
.cnt-restaurant .tabs li.seleccionado a{background:#ccebf5; color:#007ca6;}
.cnt-restaurant .tabs li a:hover{background:#ccebf5; color:#007ca6;}
.cnt-restaurant .flt-orden{width:484px; height:60px; line-height:60px; border-bottom:1px solid #ccebf5;text-align: center; font-size:16px;}
.cnt-restaurant .flt-orden a{color:#00465e; text-decoration:none; width: 60px; display: inline-block;}
.cnt-restaurant .flt-orden a.seleccionado, .cnt-restaurant .flt-orden a:hover{color:#fff;}
.cnt-restaurant .cnts-tabs{width:484px; height:320px;overflow: hidden; margin-top:10px; display:none;}
.cnt-restaurant .cnts-tabs .row-tabs{width:100%; height:40px; line-height:40px; border-bottom: 1px dashed #fff; font-size:12px;}


#wrapper hgroup {
  position: absolute;
  left: 61px;
  top: 70px;
}
#wrapper h1 {
  color: #ffffff;
  font-size: 39px;
  letter-spacing: -2px;
  margin-bottom: 36px;
}
#wrapper .lanpass,
#wrapper .american,
#wrapper .tablet {
  background-image: url(../images/object.png);
  background-repeat: no-repeat;
  position: absolute;
}
#wrapper .lanpass {
  background-position: 0 0;
  height: 39px;
  right: 40px;
  top: 26px;
  width: 118px;
}
#wrapper .mother {
  background-color: #FFF;
  bottom: 47px;
  color: #6d6d6d;
  font-size: 18px;
  /*height:115px;*/
  height: 99px;
  padding: 16px 0 0 14px;
  position: absolute;
  /*width:188px;*/
  width: 174px;
}
#wrapper .mother a {
  border-bottom: 1px solid #6d6d6d;
  color: #6d6d6d;
  font-size: 13px;
}
#wrapper .american {
  background-position: -150px 0;
  bottom: 32px;
  height: 75px;
  left: 280px;
  width: 76px;
}
#wrapper .tablet {
  background-position: 0 -110px;
  bottom: 12px;
  height: 204px;
  right: 0;
  width: 667px;
}

.bgForm{
  background:#ff4f00;
  float:left;
  width:400px;
  margin:auto;
  position:relative !important;
  padding:48px 38px 0;
}
.bgForm h1{
  font-size: 26px;
  margin-bottom: 50px;
}
.bgFormMultiplica{
  background:url(../images/bgPopFormMultiplica.jpg) no-repeat 0 0;
  float:left;
  width:100%;
  height:511px;
  margin:auto;
  position:relative !important;
  padding:260px 38px 0;
}
  
  .bgForm ul{
    display: block;
        list-style: none outside none;
        margin: 0 auto;
        overflow: hidden;
        width: 95%;
  }
  .bgForm ul li{
    float:left;
    height:auto;
    margin-bottom:3px;
    padding-bottom:6px;
    width:100%;
  }
  .bgForm ul li label{
      display: block;
        /*float: left;*/
        width: 160px;
        font-size: 15px;
        padding-top: 5px;
  }
  .bgForm img{
      display:block;
      float:left;
      margin:0;
      padding:0;
  }
  .bgForm input, .bgForm select{
    border:solid 1px #FFFFFF;
    float:left;
    height:19px; /* 25px */
    margin:3px 0 0 0;
    padding:3px 2px;
    width:194px; /* 198px */
  }
  
  .bgForm select, .bgFormMultiplica select{
    width:198px;
    height:25px;
  }
  .btnEnviar{
    background:url(../images/btnEnviar.png) no-repeat;
    width:101px !important;
    height:48px !important;
    float:left !important;
    border: none !important;
    margin: 0 0 0 158px !important;
    cursor:pointer;
    display:block;
  }
  .btnBorrar{
    background:url(../images/btnBorrar.png) no-repeat;
    width:100px;
    height:48px;
    float:left;
    border:none;
    cursor:pointer;
    /*margin-top:30px;*/
  }

.bgFormGris{
    background:none !important;
}

    .bgFormGris h1 { color: #ff4f00; }
    .bgFormGris label, .bgFormGris #liErrorMultiple, .bgFormGris #liErrorUnico, .bgFormGris #divErrorRepetido { color: #474747; }
    /*.bgFormGris .error {border: 1px solid #ff4f00 !important;}*/
    .bgFormGris .btnEnviar { background: url(../images/btnPromoEnviar.png) no-repeat top left; width:144px !important; height:33px !important; }
    .bgFormGris .btnEnviar:hover { background: url(../images/btnPromoEnviar.png) no-repeat bottom left; }

.formulario{
    background:none;
    left:82px;
    top:211px;
    width:685px;
}
.legales{
    
}
#liErrorMultiple, #liErrorUnico, #divErrorRepetido{
    color:#ffffff;
    background:none;
    display:none;
    font-size:12px;
    font-style:italic;
    width: 220px;
    float: right;
}
.liErrorUnico{
    
}
.divErrorRepetido{
    
}

footer {
  background-color: #656565;
  /*border:1px solid #000;*/
  color: #e2e2e2;
  font-size: 11px;
  line-height:12px;
  margin: 0 auto;
  padding: 17px 0;
  position: relative;
  width: 1033px;
}
footer a{color: #e2e2e2; text-decoration:underline;}
footer p {
  margin: 0 20px;
  text-align: justify;
}