@font-face {
font-family: Flexo-Regular;
    src: url('../../fonts/Flexo-Regular.eot');
    src: url('../../fonts/Flexo-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Flexo-Regular.woff') format('woff'),
         url('../../fonts/Flexo-Regular.ttf') format('truetype'),
         url('../../fonts/Flexo-Regular.svg#flexoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: Flexo-Bold;
    src: url('../../fonts/Flexo-Bold.eot');
    src: url('../../fonts/Flexo-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Flexo-Bold.woff') format('woff'),
         url('../../fonts/Flexo-Bold.ttf') format('truetype'),
         url('../../fonts/Flexo-Bold.svg#flexobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: Flexo-Light;
    src: url('../../fonts/Flexo-Light.eot');
    src: url('../../fonts/Flexo-Light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Flexo-Light.woff') format('woff'),
         url('../../fonts/Flexo-Light.ttf') format('truetype'),
         url('../../fonts/Flexo-Light.svg#flexolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: Flexo-Light-Italic;
    src: url('../../fonts/Flexo-Light-Italic.eot');
    src: url('../../fonts/Flexo-Light-Italic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Flexo-Light-Italic.woff') format('woff'),
         url('../../fonts/Flexo-Light-Italic.ttf') format('truetype'),
         url('../../fonts/Flexo-Light-Italic.svg#flexolightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: Flexo-Italic;
    src: url('../../fonts/Flexo-Italic.eot');
    src: url('../../fonts/Flexo-Italic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Flexo-Italic.woff') format('woff'),
         url('../../fonts/Flexo-Italic.ttf') format('truetype'),
         url('../../fonts/Flexo-Italic.svg#flexoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
font-family: Formata-Regular;
    src: url('../../fonts/Formata-Regular.eot');
    src: url('../../fonts/Formata-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Formata-Regular.woff') format('woff'),
         url('../../fonts/Formata-Regular.ttf') format('truetype'),
         url('../../fonts/Formata-Regular.svg#formataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*
@font-face {
font-family: Formata-MediumItalic;
    src: url('../../fonts/formata-mediumitalic-webfont.eot');
    src: url('../../fonts/formata-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/formata-mediumitalic-webfont.woff') format('woff'),
         url('../../fonts/formata-mediumitalic-webfont.ttf') format('truetype'),
         url('../../fonts/formata-mediumitalic-webfont.svg#formatamedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*

*/

/*
@font-face {
font-family: Formata-Light;
    src: url('../../fonts/formatalight.eot');
    src: url('../../fonts/formatalight.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/formatalight.woff') format('woff'),
         url('../../fonts/formatalight.ttf') format('truetype'),
         url('../../fonts/formatalight.svg#formatalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

/*
@font-face {
font-family: Formata-Italic;
    src: url('../../fonts/formata-italic-webfont.eot');
    src: url('../../fonts/formata-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/formata-italic-webfont.woff') format('woff'),
         url('../../fonts/formata-italic-webfont.ttf') format('truetype'),
         url('../../fonts/formata-italic-webfont.svg#formataitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*
@font-face {
font-family: Formata-LightItalic;
    src: url('../../fonts/formata-italic-webfont.eot');
    src: url('../../fonts/formata-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/formata-italic-webfont.woff') format('woff'),
         url('../../fonts/formata-italic-webfont.ttf') format('truetype'),
         url('../../fonts/formata-italic-webfont.svg#formatalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/

/*
@font-face {
font-family: Formata-Bold;
    src: url('../../fonts/formata-bold-webfont.eot');
    src: url('../../fonts/formata-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/formata-bold-webfont.woff') format('woff'),
         url('../../fonts/formata-bold-webfont.ttf') format('truetype'),
         url('../../fonts/formata-bold-webfont.svg#formataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*
@font-face {
font-family: Formata-BoldItalic;
    src: url('../../fonts/formata-bolditalic-webfont.eot');
    src: url('../../fonts/formata-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/formata-bolditalic-webfont.woff') format('woff'),
         url('../../fonts/formata-bolditalic-webfont.ttf') format('truetype'),
         url('../../fonts/formata-bolditalic-webfont.svg#formataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/



.regular12blue{
    font-family: 'Flexo-Regular';
    font-size: 12px;
    color:#000068;  
}
.regular14white{
    font-family: 'Flexo-Regular';
    font-size: 14px;
    color:#FFFFFF;    
}
.italic23white{
    font-family: 'Flexo-Italic';
    font-size: 23px;
    color:#FFFFFF;  
}
.italic23dark{
    font-family: 'Flexo-Italic';
    font-size: 23px;
    color:#474747;  
}
.italic14white{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#FFFFFF;  
}
.italic14blue{
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color:#000068;  
}
.mediumitalic14white{
    font-family: 'Flexo-Bold';
    font-size: 14px;
    color:#FFFFFF;  
}
.light30yellow{
    font-family: 'Flexo-Light';
    font-size: 30px;
    color:#ffcc00;    
}
.light14white{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#FFFFFF;    
}
.light1492{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#929292;    
}
.light23white{
    font-family: 'Flexo-Light';
    font-size: 23px;
    color:#FFFFFF;    
}
.light23yellow{
    font-family: 'Flexo-Light';
    font-size: 23px;
    color:#ffcc00;    
}
.light14dark{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#474747;    
}
.italic14dark{
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color:#474747;    
}
.bolditalic14dark{
    font-family: 'Flexo-Bold';
    font-style: italic;
    font-size: 14px;
    color:#474747;    
}
.italic14light{
    font-family: 'Flexo-Italic';
    font-size: 14px;
    color:#474747;    
}
.lightitalic14dark{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#474747;    
}
.mediumitalic14dark{
    font-family: 'Flexo-Bold';
    font-size: 14px;
    color:#474747;    
}
.lightitalic16dark{
    font-family: 'Flexo-Light';
    font-size: 16px;
    color:#474747;    
}
.mediumitalic16dark{
    font-family: 'Flexo-Bold';
    font-size: 16px;
    color:#474747;    
}
.lightitalic16light{
    font-family: 'Flexo-Light';
    font-size: 16px;
    color:#727272;    
}
.mediumitalic16light{
    font-family: 'Flexo-Bold';
    font-size: 16px;
    color:#727272;    
}
.lightitalic14light{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#727272;    
}
.lightitalic11light{
    font-family: 'Flexo-Light';
    font-size: 11px;
    color:#727272;    
}
.lightitalic11dark{
    font-family: 'Flexo-Light';
    font-size: 11px;
    color:#474747;    
}
.mediumitalic11dark{
    font-family: 'Flexo-Bold';
    font-size: 11px;
    color:#474747;    
}
.bolditalic30orange{
    font-family: 'Flexo-Bold';
    font-style: italic;
    font-size: 30px;
    color:#ff4f00;   
}
.bolditalic23orange{
    font-family: 'Flexo-Bold';
    font-style: italic;
    font-size: 23px;
    color:#ff4f00;
}
.lightitalic23orange{
    font-family: 'Flexo-Light';
    font-size: 23px;
    color:#ff4f00;
}
.lightitalic11orange{
    font-family: 'Flexo-Light';
    font-size: 11px;
    color:#ff4f00;
}
.italic30orange{
    font-family: 'Flexo-Italic';
    font-size: 30px;
    color:#ff4f00;   
}
.italic11orange{
    font-family: 'Flexo-Italic';
    font-size: 11px;
    color:#ff4f00;   
}
.italic11orangecursor{
    font-family: 'Flexo-Italic';
    font-size: 11px;
    color:#ff4f00;
    cursor:pointer;   
}
.mediumitalic30orange{
    font-family: 'Flexo-Bold';
    font-size: 30px;
    color:#ff4f00;   
}
.lightitalic14blue{
    font-family: 'Flexo-Light';
    font-size: 14px;
    color:#000068;      
}
.mediumitalic14blue{
    font-family: 'Flexo-Bold';
    font-size: 14px;
    color:#000068;  
}
.lightitalic18white{
    font-family: 'Flexo-Light';
    font-size: 18px;
    color:#FFFFFF;    
}
.mediumitalic18white{
    font-family: 'Flexo-Bold';
    font-size: 18px;
    color:#FFFFFF;    
}
.italic18white{
    font-family: 'Flexo-Italic';
    font-size: 18px;
    color:#FFFFFF;    
}