article, aside, figure, footer, header, hgroup,
menu, nav, section
{
    display: block;
}

sup
{
    font-size: xx-small;
    vertical-align: super;
}

body
{
    font-family: Verdana, sans-serif;
    font-size: 11px;
}

#NavHome
{
    display: none;
}

.wrap
{
    margin-bottom: -5px;
}

.navbar
{
    background: url("../../images/navbarbg.jpg") repeat-x;
    line-height: 37px;
    height: 37px;
    width: 100%;
    margin: 0px;
    font-family: 'Flexo-Regular';
    font-size: 13px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.content
{
    max-width: 1280px;
    min-width: 780px;
    margin: 0 auto;
}

.contentwrap
{
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
}

.header
{
    height: 111px;
    background: #F7F7F7;
    width: 100%;
    margin: 0 auto;
}

.logobcp
{
    background: url("../../images/logobcp.png") no-repeat;
    width: 149px;
    height: 92px;
    margin-left: 30px;
    float: left;
}

.logolan
{
    background: url("../../images/logolanpass.jpg") no-repeat;
    width: 122px;
    height: 111px;
    margin-right: 30px;
    float: right;
}

.headContent
{
    width: 100%;
    /*margin: 0 auto 5px auto;*/
    padding-top: 5px;
    height: 93px;
    background: rgba(247,247,247,0.8);
    color: #000068;
    margin: 0 auto 5px auto;
    line-height: 1.1;
}

    .headContent h1
    {
        font-family: 'Flexo-Bold';
        font-size: 30px;
    }

    .headContent p
    {
        font-family: 'Flexo-Light';
        font-size: 16px;
    }

.Content header h1
{
    color: #FF4F00;
    font-family: 'Flexo-Bold';
    font-size: 30px;
    margin-bottom: 25px;
}

.Content
{
    max-width: 840px;
    min-width: 840px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 10px 20px 20px 40px;
}

    .Content header h1
    {
        color: #FF4F00;
        font-family: 'Flexo-Bold';
        font-size: 30px;
        margin-bottom: 25px;
    }

    .Content .texto
    {
        line-height: 1.25;
        float: left;
        width: 66%;
        font-size: 16px;
    }

.loginform
{
    width: 832px;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 10px auto 5px -15px;
    padding: 10px;
    color: #727272;
    font-family: 'Flexo-Bold';
}

#frmLogin
{
    text-align: center;
}

    #frmLogin fieldset
    {
        margin-top: 20px;
    }

    #frmLogin input
    {
        height: 25px;
        width: 230px;
        line-height: 25px;
    }

    #frmLogin .btnsubmit
    {
        text-decoration: none;
        background: url("../../images/home/home_buttonbanner1.png") no-repeat bottom;
        width: 116px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        border: 0;
        font-family: 'Flexo-Italic';
        font-size: 14px;
    }

        #frmLogin .btnsubmit:hover, .btnsubmit:focus
        {
            background: url("../../images/home/home_buttonbanner1.png") no-repeat top;
        }

label.error
{
    color: #ff4e00;
    font-size: 11px;
    margin-left: 10px;
    display: none;
    height: 31px;
    line-height: 31px;
    float: left;
}

#submit_error
{
    color: #ff4e00;
    font-size: 11px;
    margin-left: 10px;
    display: none;
    height: 31px;
    line-height: 31px;
}

.inputDoc
{
    width: 200px;
    height: 26px;
    border: 1px solid #aeaeae;
    line-height: 28px;
    background-color: #FFFFFF;
    padding-left: 8px;
    margin-top: 38px;
}

.inputDocerror
{
    visibility: hidden;
    margin-top: 6px;
    height: 11px;
}

.Doc
{
    position: absolute;
}

.inputDoc::-webkit-input-placeholder
{
    font-family: 'Flexo-Light';
    font-size: 11px;
    color: #a6a6a6;
}

.inputDoc:-moz-placeholder
{ /* Firefox 18- */
    font-family: 'Flexo-Light';
    font-size: 11px;
    color: #a6a6a6;
}

.inputDoc::-moz-placeholder
{ /* Firefox 19+ */
    font-family: 'Flexo-Light';
    font-size: 11px;
    color: #a6a6a6;
}

.inputDoc:-ms-input-placeholder
{
    font-family: 'Flexo-Light';
    font-size: 11px;
    color: #a6a6a6;
}

.clear
{
    clear: both;
}

.Filtros
{
    width: 100%;
    color: #7b7b7b;
    border-bottom: 1px dashed #acacab;
    float: left;
    padding-bottom: 22px;
    margin-bottom: 14px;
}

    .Filtros label
    {
        font-size: 18px;
        display: block;
        float: left;
        height: 32px;
        line-height: 32px;
        font-family: Arial;
    }

    .Filtros input
    {
        height: 25px;
        border: 1px solid #7b7b7b;
        background: #f0f0f0;
        font-size: 14px;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: #7b7b7b;
    }


/* CSSTerm.com Simple CSS menu */

.body-table
{
    position: relative;
    background-color: #fff;
    width: 100%;
    border: solid 2px #ccc;
    border-top: none;
}

#toolbar
{
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 999;
}

#toolbar-table
{
    position: relative;
    background-image: url(../images/toolbar-background.png);
    font-family: Arial;
    font-size: 11px;
    color: white;
    height: 40px;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
}

#toolbar-left a, #toolbar-right a
{
    color: #80CFE6;
    font-size: 11px;
    text-decoration: none;
}

    #toolbar-left a:hover, #toolbar-right a:hover
    {
        color: white;
        text-decoration: underline;
    }

#toolbar-shadow
{
    position: absolute;
    background-image: url(../images/toolbar-shadow.png);
    background-repeat: repeat-x;
    left: 0px;
    top: 40px;
    width: 100%;
    height: 6px;
    line-height: 6px;
    z-index: 1001;
}

.toolbar-Tlabel
{
    color: #ccc;
    padding: 0 8px 0 4px;
    font-size: 14px;
}

.toolbar-label
{
    color: #ccc;
    padding: 0 8px 0 4px;
}

.toolbar-link, .toolbar-search-link, .toolbar-input, .toolbar-search-input
{
    padding: 0 4px;
}

.toolbar-search-label
{
    color: #fff;
    padding: 0 0 0 4px;
}

.toolbar-separator
{
    color: #fff;
    padding: 0 12px;
}


/* DHTML Menu */

.nav
{
    position: relative;
    background: url(../images/nav-background.png) repeat-x bottom;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    border-bottom: solid 1px #999;
}

.nav-container
{
    border-left: solid 2px #bbb;
}

.nav-item
{
    position: relative;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    height: 16px;
    padding: 2px 6px;
    border-right: solid 2px #bbb;
    line-height: 16px;
    cursor: pointer;
}

.nav-item-active
{
    background: url(../images/nav-background-hover.png) repeat-x bottom;
}

.nav-menu
{
    position: absolute;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    left: -2px;
    top: 20px;
    border-top: solid 1px #bbb;
    visibility: hidden;
    z-index: 1;
}

.nav-item-menu-head
{
    position: relative;
    height: 1px;
    line-height: 1px;
    background: url(../images/nav-item-menu-head.png) no-repeat top;
}

.nav-item-menu-body
{
    background: url(../images/nav-item-menu-background-gray.png) repeat-y;
}

.nav-item-menu-foot
{
    position: relative;
    width: 210px;
    height: 7px;
    background: url(../images/nav-item-menu-foot.png) no-repeat top;
}

a.menuItem
{
    display: block;
    color: #006d8b;
    padding: 2px 8px;
}

    a.menuItem:hover
    {
        text-decoration: underline;
    }

.menuBoxSubhead
{
    font-style: italic;
    padding: 2px 8px;
}

/* Menu */

.menu-container
{
    background-color: #f8f8f8;
    width: 180px;
    border-right: solid 2px #ccc;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu-table
{
    font-size: 11px;
    border-top: solid 1px #ccc;
}

.menuBoxHeading
{
    font-size: 11px;
    padding: 2px 12px;
    border-bottom: solid 1px #ccc;
    cursor: pointer;
    line-height: 18px;
}

    .menuBoxHeading:hover
    {
        background-color: #def3f9;
    }

a.menuBoxHeadingLink
{
    font-size: 11px;
    color: #000;
    text-decoration: none;
}

.menuBoxHeadingSelected, .menuBoxHeadingSelected:hover
{
    font-weight: bold;
    background-color: white;
    border-bottom: none;
    cursor: default;
}

    .menuBoxHeadingSelected a.menuBoxHeadingLink
    {
        font-weight: bold;
    }

.menuBoxSubhead
{
    color: #555;
    margin-top: .5em;
}

.menuBoxContent
{
    background-color: white;
    padding: 2px 12px;
    line-height: 18px;
    border-bottom: solid 1px #ccc;
}

a.menuBoxContentLink
{
    color: #006d8b !important;
    text-decoration: none;
    margin-left: 1em;
}

    a.menuBoxContentLink:hover
    {
        text-decoration: underline;
    }

/* Page */

.page-container
{
    padding-left: 12px;
    padding-right: 12px;
}

.pageHeading
{
    color: #111;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 6px;
}


/* PopUp */

.message
{
    z-index: 999999;
    width: 508px;
    height: 264px;
    background: #FFFFFF;
    position: fixed;
    margin: 0 auto;
    padding: 4px;
    top: 20%;
    left: 35%;
}

.messagebig
{
    height: 350px;
}

.messagesmall
{
    height: 205px;
}

.modal
{
    display: none;
    z-index: 999998;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.ModalClose
{
    float: right;
    padding-right: 5px;
    cursor: pointer;
}

.popupbox
{
    background: #e2e2e2;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-top: -22px;
}

.popuptitle
{
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity: 0.7;
}

.panel
{
    background-color: #F6F4F1;
}

.panel_cab
{
    background-color: #5D7B9D;
    color: #FFF;
    height: 20px;
    padding: 1px 0 0 10px;
}

.close
{
    background: transparent url(../images/btn_close.png) no-repeat;
    float: right;
    padding-right: 15px;
    height: 16px;
    cursor: pointer;
}
/* PopUp */
/*Button*/
.Botones
{
    font-size: 11px;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    padding: 2.5px;
    color: #696969;
}

.Botones_final
{
    padding: 10px 0 5px 0;
    text-align: center;
}
/*Button*/
.error
{
    color: Red;
}

#MainContent_GridView
{
    width: 100%;
}

    #MainContent_GridView tr:first-child th
    {
        padding: 20px 0;
        font-size: 12px;
    }

    #MainContent_GridView tr td
    {
        padding: 10px 0;
    }
