/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
	font-size: 1em;
	line-height: 1;
}
body {
    font-family: 'flexoregular';
	margin:0px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
a {
    text-decoration: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
	margin-top:2px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


@font-face {
    font-family: 'flexoregular';
    src: url('durotype_-_flexo-regular-webfont.eot');
    src: url('durotype_-_flexo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('durotype_-_flexo-regular-webfont.woff') format('woff'),
         url('durotype_-_flexo-regular-webfont.ttf') format('truetype'),
         url('durotype_-_flexo-regular-webfont.svg#flexoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flexoitalic';
    src: url('durotype_-_flexo-it-webfont.eot');
    src: url('durotype_-_flexo-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('durotype_-_flexo-it-webfont.woff') format('woff'),
         url('durotype_-_flexo-it-webfont.ttf') format('truetype'),
         url('durotype_-_flexo-it-webfont.svg#flexoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flexobold';
    src: url('durotype_-_flexo-bold-webfont.eot');
    src: url('durotype_-_flexo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('durotype_-_flexo-bold-webfont.woff') format('woff'),
         url('durotype_-_flexo-bold-webfont.ttf') format('truetype'),
         url('durotype_-_flexo-bold-webfont.svg#flexobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flexolight_italic';
    src: url('durotype_-_flexo-lightit-webfont.eot');
    src: url('durotype_-_flexo-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('durotype_-_flexo-lightit-webfont.woff') format('woff'),
         url('durotype_-_flexo-lightit-webfont.ttf') format('truetype'),
         url('durotype_-_flexo-lightit-webfont.svg#flexolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FlexoMedium';
    src: url('durotype-flexo-medium.eot');
    src: url('durotype-flexo-medium.eot') format('embedded-opentype'),
         url('durotype-flexo-medium.woff2') format('woff2'),
         url('durotype-flexo-medium.woff') format('woff'),
         url('durotype-flexo-medium.ttf') format('truetype'),
         url('durotype-flexo-medium.svg#FlexoMedium') format('svg');
}

@font-face {
    font-family: 'FlexoMediumItalic';
    src: url('durotype-flexo-mediumit.eot');
    src: url('durotype-flexo-mediumit.eot') format('embedded-opentype'),
         url('durotype-flexo-mediumit.woff2') format('woff2'),
         url('durotype-flexo-mediumit.woff') format('woff'),
         url('durotype-flexo-mediumit.ttf') format('truetype'),
         url('durotype-flexo-mediumit.svg#FlexoMediumItalic') format('svg');
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1, h2, h3, h4 {
    margin: 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.right {
    float: right;
}
.left {
    float: left;
}
.none {
    float: none;
}
.clear {
    clear: both;
}
.wrapped {
    width: 982px;
    margin: auto;
    display: block;
}
.intern-lanpass-ae {
	position: relative;
	width: 982px;
	height: 878px;
	background: url('/promo-amexx5/img/bg-landing-navidad.jpg') no-repeat;
}

.intern-lanpass-ae p {
	margin: 0 0 0 0;
	padding: 0;
	font-size: 22px;
	font-weight: normal;
	line-height: 28px;
	text-align: justify;
}

.intern-lanpass-ae p strong {
	font-size: 24px !important;
    font-family: 'flexobold' !important;
}

.textBold {
	text-align: left !important;
    font-family: 'flexobold';	
	font-size: 35px !important;
	line-height: 38px !important;	
}

.legal {
    font-size: 10px;
    background: #FFF;
    color: #000;
	width: 962px;
    padding: 5px 10px;
    text-align: justify;
}
.note {
	width: 380px;
	height: 305px;
	position: relative;
	top: 575px;
	left: 190px;
	z-index: 50;
	font-family: 'FlexoMedium';
	color: #FFFFFF;
}

ul.bullet {
list-style-image: url('/promo-amexx5/img/vineta_s.jpg');
}

ul.bullet2 {
list-style-image: url('/promo-amexx5/img/vineta_g.jpg');
}

li span { position: relative; left: -5px; }

.btn-return {
    color: #00367E;
    font-family: 'FlexoMediumItalic';
    display: inline-block;
    width: 112px;
    height: 25px;
    line-height: 25px;
    background: url('/promo-amexx5/img/btn-regresar.png') no-repeat;
    text-align: center;
    font-size: 12px;
    position: absolute;
    z-index: 20;
    top: 30px;
    left: 25px;
    font-weight: bold;
}

.cont-banner-lanpass-ae {
    position: relative;
    width: 982px;
    height: 261px;
    background: url('/promo-amexx5/img/bg-banner-kms.jpg');
}
.cont-int-lanpass-ae {
	position: relative;
	z-index: 29;
	left: 476px;
	top: 92px;
	width: 350px;
	color: #FFFFFF;
}
.cont-int-lanpass-ae h2 {
	width: 99%;
	font-family: 'FlexoMedium';
	font-size: 30px;
	font-weight: normal;
	line-height: 19px;
	padding-bottom: 14px;
	border-bottom: 2px dotted #fff;
}
.cont-int-lanpass-ae h3 {
	width: 100%;
	font-family: 'flexoregular';
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	padding-bottom: 10px;
	/* border-bottom: 1px dotted #fff; */
	padding-top: 6px;
}
.cont-int-lanpass-ae p {
    font-size: 11px;
	line-height: 13px;	
}

.btn-descubre{
    display: block;
    width: 130px;
    height: 25px;
    background: url('/promo-amexx5/img/btn-informate.png') no-repeat;
	margin: 8px 0 0 197px;
}

.btn-inscribete{
	display: block;
	width: 218px;
	height: 42px;
	background: url('/promo-amexx5/img/btn-inscribete2.jpg') no-repeat;
	margin: -35px 0 0 390px;
}


.msg-home{/*
    position: relative;
    top: 155px;
    padding: 0 35px;
    height: 250px;*/
}
.msg-home h1 {
    font-size: 30px;
    line-height: 32px;
}
.msg h2 {
    font-size: 2.9em;
    line-height: 0.8em;
}
.msg h3 {
    font-size: 1.1em;
    font-family: 'FlexoMediumItalic';
    margin: 87px 0 0;
    line-height: 1.2em;
}
.msg h4 {
    font-size: 0.8em;
    font-family: 'flexolight_italic';
    margin: 0 0 6px;
    line-height: 2em;
}

.thanks {
    width: 421px;
    height: auto;
    padding: 50px;
    background: #FF5000;
    font-family: 'FlexoMediumItalic';
    color: #FFFFFF;
    -webkit-border-radius: 15px;
            border-radius: 15px;
}
.thanks h3 {
    font-size: 25px;
    padding: 0;
}
.thanks p {
    font-size: 21px;
}
.cont-banner-tpd {
    position: relative;
    width: 980px;
    height: 259px;
    background: url('/promo-amexx5/img/bg-banner-x5.jpg');
}
.cont-int-tpd {
    position: relative;
    z-index: 29;
    left: 545px;
    top: 60px;
    width: 315px;
    color: #FFFFFF;
}
.cont-int-tpd h2 {
	width: 100%;
    font-family: 'FlexoMedium';
	font-size: 17px;
	font-weight: normal;
	line-height: 19px;	
	padding-bottom: 10px;
}
.cont-int-tpd p {
    font-size: 11px;
	line-height: 13px;	
}

.btn-suscribete {
    display: block;
    width: 137px;
    height: 22px;
    background: url('/promo-amexx5/img/btn-inscribete.jpg') no-repeat;
	margin: 45px 0 0 170px;
}
.text-legal{
	bottom: 0;
	position: absolute;
	font-family: 'flexobold';
	font-size: 8px;
	margin: 0 10px 4px;
	text-transform: uppercase;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/**************** register *************************/

    #closeForm{width:417px; height:28px; margin:28px 0 0 447px;}
    .bgOrange{
        width:407px; min-height:515px; display:block; background-color:#e2e2e2; padding:0 30px; border-radius:12px;height:auto;
        border: 3px #FFF solid;
    }
    .bgOrange h1{width:384px; height:79px; margin:20px 0 0 0; font-family:flexoitalic; font-size:25px; color:#ff4f00; font-weight:normal; border-bottom:1px dashed #fff; float:left;}
    .bgOrange ul{width:316px; margin-top: 21px; list-style:none outside none; overflow:hidden;float:left; padding:0;}
    
    .bgOrange ul li{width:316px; margin-bottom: 11px;}

    .bgOrange ul li input[type="text"] {
        width:290px; border:0; overflow:hidden; 
        height:25px; padding:0 0 0 17px; 
        font-family:flexoitalic; font-size:14px; color:#808080; font-weight:normal;
        border: 1px #03b307 solid;
    }
    .bgOrange ul li select{width:307px; font-family:flexoitalic; font-size:14px; color:#808080; font-weight:normal;
        padding-left: 12px;
        border: 1px #03b307 solid;
    }

        .bgOrange ul li #btnGrabar {
            width: 145px;
            height: 33px;
            background: url('../../images/promo2015septiembre/dni-bt-inscribite.jpg') no-repeat top;
            border: thin;
            background-color: transparent;
            border: 0 none;
            font-family: 'flexoitalic';
            font-weight: bold;
        }

    .bgOrange ul li #btnGrabar:hover{
        background-position: bottom;
    }


    /*Errorres*/
    .bgForm ul li .brd_alert1 {
    /*Campo en estado inactivo - Default*/
      box-shadow: 0 0 1px #AEAEAE inset;
      border: 1px solid #AEAEAE;
      font-family: "Flexo-Regular";
      font-size: 15px;

    }
    .bgForm ul li .brd_alert2 {
        /*Campo en estado activo - escribiendo*/
        border: thin;
    }
    .bgForm ul li .brd_alert3 {
        /*Campo en estado error*/
        border: thin;
    }
    .bgForm ul li .brd_alert4 {
        /*Campo en estado Ok*/
        border: thin;
    }
    .bgForm ul li .icon_alert {
        position: absolute;
        top: 8px;
        right: 30px;
        width: 13px;
        height: 13px;
        display: none;
        z-index:9;
    }
    .bgForm ul li .icon_ok {
        background: url('../images/ok.jpg') 0 0 no-repeat;
        display: block;
    }
    .bgForm ul li .icon_error {
        background: url('../images/no.jpg') 0 0 no-repeat;
        display: block;
    }
    .bgForm ul li .er {
        color: #ff4f00;
        font-size: 11px;
        display: none;
        padding: 5px 0 0 0;
    }

/**************** fancybox **********************/

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: transparent;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-prev span, .fancybox-next span {
    background-image: url('/promo-amexx5/img/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('/promo-amexx5/img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: 32px;
    right: 55px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    z-index: 8040;
    background: url('/promo-amexx5/img/x.png') no-repeat;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('/promo-amexx5/img/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('/promo-amexx5/img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */


.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url('/promo-amexx5/img/fancybox_sprite@2x.png');
        background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    }

    #fancybox-loading div {
        background-image: url('/promo-amexx5/img/fancybox_loading@2x.gif');
        background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
    }
}

.btn-inscribir{
    display: block;
    width: 126px;
    height: 20px;
    background: url('/promo-amexx5/img/btn-inscribir.png') no-repeat;
	margin: 38px 0 0 165px;
}

.cont_tarjetas{
    width: 250px;
    height: 53px;
    display: block;
    background: url('/promo-amexx5/img/tarjetas-join.png') no-repeat; 
}

.text-home-detail{
    font-size: 12px;
    line-height: 14px;
}

.btn-suscribe1{
    background: url('/promo-amexx5/img/btn-inscribite.png') no-repeat;
    width: 184px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-family: 'flexoitalic' ;
    color: #00367E;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}


.strip-tag-in{
    padding-left: 22px !important; 
    padding-top: 15px !important;
}
